<ion-header>
  <ion-toolbar class="toolbar">
    <ion-title class="bsr-titleCenter">View Profile</ion-title>
      <ion-buttons slot="start">
        <button (click)="back()" class="bsr_backbtn_background">
          <ion-icon class="bsr_addtmp_backicon back" name="arrow-back"></ion-icon> 
       </button>      
      </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="container ">
    <div class="form ">
      <form action="" class="form-horozontal" *ngFor="let item of profileData | keyvalue">
        <h5 class="control-label" >{{ item.key }} </h5>
        <div class="" *ngFor="let data of item.value | keyvalue">
          <div class="row row-settings command-lists" *ngFor="let data_1 of data.value | keyvalue">
            <div class="col-md-12">
              <table>
                <tr *ngFor="let data_2 of data_1.value | keyvalue">
                  <td>
                    <label class="lable-title command-list-item"><strong>{{ data_2.key }}</strong>
                    </label>
                  </td>
                  <td><label class="lable-title command-list-item item-text-wrap" [innerHTML]="YashaaDecrypt(data_2.value.answer,data_2.value.field_type_guid)"></label><br>
                  </td>
                </tr>
              </table>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>  
</ion-content>


