<!-- <ion-header>
  <ion-toolbar class="toolbar">
    <ion-title class="bsr-titleCenter">Membership plans</ion-title>
    <ion-buttons slot="start">
      <button (click)="back()" class="bsr_backbtn_background">
        <ion-icon class="bsr_addtmp_backicon back" name="arrow-back"></ion-icon>
      </button>
    </ion-buttons>
  </ion-toolbar>
</ion-header> -->


<!-- <ion-content>
 <div class="container">
    <div class="form mt-5">
      <div class="container btn-list" style="margin-top: 240px;">
        <div class="col-md-12" *ngFor="let p of products">
          <button type="button" class=" btn-lg btn-block btn-brag" *ngIf="p.title!='' && p.title!=null" (click)="purchase(p)"> {{p.title}} ({{p.price}})</button>
        </div>
      </div>
    </div>
  </div> 
</ion-content> -->

<ion-content class="background" [fullscreen]="true">
  <br>
  <div class="form-group">
    <a href="https://www.braggsheet.com/frequently-asked-questions" style="text-align: right !important; display: block; padding: 0px 18px 0px 0px;text-decoration: underline;color: white;">FAQ</a>
  </div>
  <br>
  <div class="form-group">
    <img class="logoimg" src="assets/images/icon.png" alt="image" />
  </div>

  <div class="col-md-6 container pack-p">
    <div class="form">
      <h2 class="text-center" style="color: #2699fb;"><b>My Bragg Sheet</b></h2>
      <h6 class="text-center"><b>All Access Package</b></h6>
      <h6 class="text-center fsize10">Subscribe to the membership to gain complete access to My Braggsheet Application
      </h6>
      <div class="form-group col-md-12">
        <!-- <div class="container btn-list" style="margin-top: 240px;"> -->

        <div class="col-md-12" *ngFor="let p of products">
          <button type="button" class="btn-lg btn-block btn-brag" *ngIf="p.title!='' && p.title!=null"
            (click)="purchase(p)">{{p.price}} / {{p.title}}</button>
        </div>

        <!-- </div> -->
        <h6 class="text-center fsize10"> (Get 2 months FREE per year compared to monthly subscription.) </h6>
        <h6 class="text-center" style="font-size: 10px;word-spacing: 0.9px;">With our All Access package - get an access to Daily update and BraggSheet Report functionality.</h6>
      </div>
    </div>
  </div>
</ion-content>