<ion-header>
  <ion-toolbar class="toolbar">
    <ion-title class="bsr-titleCenter">daily Update</ion-title>
    <ion-buttons slot="start">
      <button (click)="back()" class="bsr_backbtn_background">
        <ion-icon class="bsr_addtmp_backicon back" name="arrow-back"></ion-icon>
      </button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- <div class="container" *ngIf="activeMembership; else elseBlock"> -->
    <div class="container" id="dailyUpdateOptions" style="display:none">
    <!-- <div class="container"> -->
    <div class="form mt-5" *ngIf="showData">
      <div *ngIf="showData" class="container btn-list" style="margin-top: 240px;">
        <div class="col-md-12">
          <button type="button" (click)="Active()" class=" btn-lg btn-block btn-brag"> Active</button>
        </div>
        <!--  <div class="col-md-12 ">
          <a [routerLink]="['/select-template']"> 
          <button type="button" (click)="onSubmit()" class=" btn-lg btn-block btn-brag">Reservist</button>
           </a>
        </div> -->
        <div class="col-md-12 ">

          <button type="button" (click)="Reservist()" class=" btn-lg btn-block btn-brag">Reservist</button>

        </div>
      </div>
    </div>
  </div>

  <!-- Else Block For Membership is allow or not -->
    <div class="container membershipContainer" id="lockBoxOptions">
      <div class="form mt-5" *ngIf="showData">
        <div id="text">
          <img src="https://api.iconify.design/et-lock.svg" style="width: 20%;"><br>
          <!-- <span style="font-size: 17px;">Buy membership to activate this feature <a href="http://demo.yashaadigital.com/BSR/v4/plans" style="color:#05108c;">Click here</a> to buy membership</span> -->
          <span style="font-size: 17px;">Buy membership to activate this feature <a
              [routerLink]="['/yashaa-membership-plans']" style="color:#05108c;">Click here</a> to buy
            membership</span>
        </div>
      </div>
    </div>
  <!-- End Else Block -->
  <!-- <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content
      pullingIcon="chevron-down-circle-outline"
      pullingText="Pull to refresh"
      refreshingSpinner="circles"
      refreshingText="Refreshing...">
    </ion-refresher-content>
  </ion-refresher> -->

</ion-content>