.membershipContainer{
    position: fixed;
    width: 100%;
    height: 100%;
    // top: 0;
    left: 0;
    right: 0;
    // bottom: 0;
    background: rgba(0,0,0,0.5);
    z-index: 2;
    cursor: pointer;
}
#text{
    position: absolute;
    top: 40%;
    left: 50%;
    // font-size: 20px;
    color: white;
    transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    text-align: center;
  }

  .container {
    margin-top: 20px;
    margin-bottom: 20px;
    padding-right: 15px;
    padding-left: 15px;
}
.mt-5, .my-5 {
    margin-top: 1rem !important;
}