
.form-group {
    text-align: left !important;
}
.swiper-zoom-container {
    text-align: left !important;
}  
ion-label{
    padding-left: 0px !important;
}
.tab input.invalid {
    background-color: #ffdddd;
    border: solid 1px #ff0000 !important;
}

.tab select.invalid{
    background-color: #ffdddd;
    border: solid 1px #ff0000 !important;
}
ion-toolbar{
    --background:#1DA1F2;
    color:#fff !important;
    text-align: center;
    .topnav {
        background-color: #1DA1F2;;
        overflow: hidden;
    }
}
    .form-control{
        background: #BCE0FD 0% 0% no-repeat padding-box;
        opacity: 1;
        border-radius: 0px;
        color:#3B5998;
    }
  

    .container {
        margin-top: 20px;
        margin-bottom: 20px;
        padding-right: 45px;
        padding-left: 45px;
    }
    
     



 
 
 

 