<ion-header>
  <ion-toolbar>
    <ion-title>bragshit Report</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button menu="main-menu"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
    <div class="form ">
      <form  class="form-horozontal "  id="dailyUpdate" (ngSubmit)="onSubmit2()" >
          
               <div [formGroup]="product" *ngFor="let product of productFormGroup.controls let i = index">
               <div id="tab_1" class="container tab">                 
                     <div  class="form-group" *ngIf="product.value.field_type_guid==2">
                        <ion-label >{{product.value.field_name}}</ion-label>
                        <input  formControlName="answer" type="text" [ngClass]="{ 'is-invalid': submitted && b2.answer.errors }" class="form-control input" name="answer[{{product.value.guid}}][]"  aria-describedby="helpId">
                         <div *ngIf="product.value.answer == null " class="invalid-feedback">
                           <div *ngIf="b2.answer.errors.required"> Text is required</div>
                       </div>
                     </div>
                     <div class="form-group" *ngIf=" product.value.field_type_guid==3" >
                        <ion-label >{{product.value.field_name}}</ion-label>
                        <input  formControlName="answer" type="date" [ngClass]="{ 'is-invalid': submitted && b2.answer.errors }"  class="form-control input"  name="answer[{{product.value.guid}}][]">
                         <div *ngIf="product.value.answer == null "  class="invalid-feedback">
                           <div *ngIf="b2.answer.errors.required"> Date is required</div>
                       </div>
                     </div>
                     <div >
                        <div class="form-group" *ngIf="product.value.field_type_guid==1">
                           <ion-label class="control-label col-sm-5">{{product.value.field_name}}</ion-label>
                           <div class="col-sm-12 inputsm">
                              <select formControlName="answer" [ngClass]="{ 'is-invalid': submitted && b2.answer.errors }" name="answer[{{product.value.guid}}][]" class="form-control input"  okText="Okay" cancelText="Dismiss">
                              <option value="Okay">Select Option</option>
                               <option *ngFor="let list of product.value.options" [value]="list.valueoption">{{list.valueoption}}</option>
                              </select>
                              <div *ngIf="product.value.answer == null "  class="invalid-feedback">
                                 <div *ngIf="b2.answer.errors.required">This field is required</div>
                             </div>
                            </div>
                        </div>
                     </div>
                     <div class="form-group " *ngIf="product.value.field_type_guid== 4 ">
                        <ion-label >{{product.value.field_name}}</ion-label>
                        <input formControlName="answer" type="date" [ngClass]="{ 'is-invalid': submitted && b2.answer.errors }"  name="answer[{{product.value.guid}}][]" id="range" class="form-control input" id="range" name="range">
                        <div *ngIf="product.value.answer == null "  class="invalid-feedback">
                           <div *ngIf="b2.answer.errors.required">Date range is required</div>
                       </div>
                      </div>
                     <div class="form-group" *ngIf="product.value.field_type_guid==5">
                        <ion-label>{{product.value.field_name}}</ion-label>
                        <input formControlName="answer" [ngClass]="{ 'is-invalid': submitted && b2.answer.errors }" type="number" class="form-control input" name="answer[{{product.value.guid}}][]">
                        <div *ngIf="product.value.answer == null "  class="invalid-feedback">
                           <div *ngIf="b2.answer.errors.required">Number is required</div>
                       </div>
                      </div>                 
            </div>
               </div>
               <button id="1" expand="full" type="submit" class="bsr_bragReport_btn btn btn-default mt-3">Create Report</button> 
      </form>
   </div>
   <div>{{productFormGroup.value|json}}</div>
 </ion-content>
<ion-footer class="footer">

</ion-footer>
