<ion-header [translucent]="true">
  <ion-toolbar class="toolbar">
  
  <ion-buttons  slot="start">
    <button (click)="back()" class="bsr_backbtn_background">
      <ion-icon class="bsr_addtmp_backicon back" name="arrow-back"></ion-icon> 
   </button>
  </ion-buttons>
  <ion-title class="bsr-titleCenter" > Braggsheet Report</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="container btn-list">
    <div class="col-md-12 ">
    
      <button  (click)="generateReport()" type="button" class=" btn-lg btn-block btn-brag">Create New Report</button>
      <button  type="button" [routerLink]="['/bragsheet-report2']" class=" btn-lg btn-block btn-brag">Active </button>
      <button  type="button" [routerLink]="['/bragsheet-report-archive']" class=" btn-lg btn-block btn-brag">Archive</button>
    </div>
    </div>
</ion-content>
