<ion-header [translucent]="true">
  <ion-toolbar class="toolbar">
 <ion-title >Current Command</ion-title>
      <ion-buttons slot="start">
          <ion-menu-button menu="main-menu"></ion-menu-button>
      </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  
  <div class="container ">
      <div class="form ">
          <form action="" class="form-horozontal" [formGroup]="Command" (ngSubmit)="onSubmit()">
              <div class="form-group  ">
                  <ion-label >Command Name</ion-label>
                  <input formControlName="command"  [ngClass]="{ 'is-invalid': submitted &&  f4.command.errors }" 
                  type="text" class="form-control input" name="" id="" aria-describedby="helpId">
                  <div *ngIf="submitted &&  f4.command.errors" class="invalid-feedback">
                    <div *ngIf=" f4.command.errors.required"> Command name is required</div>
                </div>
                </div>
                <div class="form-group ">
                  <ion-label >Start Date</ion-label>         
                  <input type="date" id="startDate" [ngClass]="{ 'is-invalid': submitted && f4.startDate.errors }"
                   formControlName="startDate" class="form-control input" id="date" name="date">
                    <div *ngIf="submitted && f4.startDate.errors" class="invalid-feedback">
                    <div *ngIf="f4.startDate.errors.required">Start Date is required</div>
                  </div>
                  </div>
                  
                   <div class="col-md-6 diaplay">
                      <input style="width: 58%;" (click)="onSubmit()"  type="button" class="btn btn-sm button-submit" name="Save" value="Save & Add More" />  
                      <input type="button" (click)="onSubmit()"  class="btn button-submit" style="position: absolute;margin-left: 6%; width: 36%;" name="Save" value="Save" />  
                    </div>
                  
                    <div class="col-md-6 display">
                      
                    </div>
                 
                    <div class="row row-setting">
      
                      <div class="col-md-12 command-list">
                        <label class="lable-title command-list-item"> Command Name</label>
                        <br/>
                        <label class="lable-title command-list-item"> 09/09/2020</label>
                      </div>
              
                      <div class="col-md-12 command-list">
                        <label class="lable-title command-list-item"> Command Name</label>
                        <br/>
                        <label class="lable-title command-list-item"> 09/09/2020</label>
                      </div>
                  </div> 
          </form>
  </div>
</div>

 
 </ion-content>
 <ion-footer class="footer">
    
</ion-footer>
