<ion-header>
  <ion-toolbar>
    <ion-title>confirm Password</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content  class="background" [fullscreen]="true">

  <div >
    <img class="logoimg" src="assets/images/icon.png" alt="image"/>
  </div>
  <div class="col-md-6 container">
    <div class="form ">
        <form action="" class="form-horozontal" [formGroup]="confirmPwd" (ngSubmit)="onSubmit()">
        
          <div class="form-group">
            <ion-input  formControlName="pass" placeholder="Enter Password" [ngClass]="{ 'is-invalid': submitted && b6.pass.errors }" type="text" class="form-control" ></ion-input>
              <div *ngIf="submitted && b6.pass.errors" class="invalid-feedback">
              <div *ngIf="b6.pass.errors.required">Password required</div>
            
            </div>
          </div>

          <div class="form-group">
            <ion-input  formControlName="passcnf" placeholder="Enter Confirm Password" [ngClass]="{ 'is-invalid': submitted && b6.passcnf.errors }" type="text" class="form-control" ></ion-input>
              <div *ngIf="submitted && b6.passcnf.errors" class="invalid-feedback">
              <div *ngIf="b6.passcnf.errors.required">Confirm Password required</div>
            
            </div>
          </div>
          <button type="submit"  class=" btn-lg btn-block">Submit</button>
        </form>
  </div>
  </div>
</ion-content>