<ion-header>
  <ion-toolbar class="toolbar">
    <ion-title>Search Result</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="container ">
    <div class="form ">
        <form action="" class="form-horozontal"  (ngSubmit)="onSubmit()">
     <div class="row row-setting">
    <div class="col-md-12 command-list">
    <label class="lable-title command-list-item"> May7th 2019</label>
    </div>
    <div class="col-md-12 command-list">
      <label class="lable-title command-list-item"> May7th 2019</label>
    </div>
    <div class="col-md-12 command-list">
      <label class="lable-title command-list-item"> May7th 2019</label>
    </div>
</div> 
</form>
</div>
</div>
</ion-content>
<ion-footer class="footer">
    
</ion-footer>