 
    
    ion-button{
        --background:white !important;
        opacity: 0.1;
    }
 
.display{
    padding-right: 14px !important;
    padding-left: 15px !important;
}
 

@media only screen and (max-width: 992px) {
   
    
   
        
}
@media only screen and (min-width: 992px) {
    .btn-default{ 
        --color:#ffffff;
       width: 301px;
       height: 48px;
       background-color: #2699FB  !important;
       border-radius: 4px;
       opacity: 1;
       text-align: center;
       font: normal normal bold 14px/18px Arial;
       letter-spacing: 0px;
       color: #FFFFFF;
       text-transform: uppercase;
       opacity: 1;
       margin-left: 37%;
    }
    
    
}     
.membershipContainer{
    position: fixed;
    width: 100%;
    height: 100%;
    // top: 0;
    left: 0;
    right: 0;
    // bottom: 0;
    background: rgba(0,0,0,0.5);
    z-index: 2;
    cursor: pointer;
}
#text{
    position: absolute;
    top: 40%;
    left: 50%;
    // font-size: 20px;
    color: white;
    transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    text-align: center;
  }
     



 
 
 

 