<ion-header [translucent]="true">
  <ion-toolbar class="toolbar">
 <ion-title >Select Topic</ion-title>
      <!-- <ion-buttons slot="start">
        <button (click)="back()" style="background-color:#1DA1F2">
          <ion-icon class="back" style="color: #fff" name="arrow-back"></ion-icon> 
       </button>
      </ion-buttons> -->
  </ion-toolbar>
</ion-header>
<ion-content>
   
 
  <div class="container" *ngIf="activeMembership; else elseBlock">
      <div class="form mt-5">
          <form action="" class="form-horozontal" [formGroup]="Topic" (ngSubmit)="onSubmit3()">

                <div class="form-group">
                  <ion-label class="control-label col-sm-5">Select Topic </ion-label>
                  <div class="col-sm-12 inputsm">
                     
                    <!-- <ion-select [value]="topics.topic_guid==412" multiple="true" id="selectTopic" name="selectTopic" [ngClass]="{ 'is-invalid': submitted && f7.selectTopic.errors }"
                    [formControlName]="selectTopic" class="form-control input" okText="Okay" cancelText="Dismiss" (ionChange)="onChange($event)">
                    <ion-select-option [value]="topics" [selected]=isSelectAll (ionSelect)="allClicked()">SelectAll</ion-select-option>  
                    <ion-select-option  *ngFor="let topic of topics"
                       [value]="topic.topic_guid">{{topic.topic_name}}</ion-select-option>
                      </ion-select> -->
                      
                    <ion-item (click)="openSelector(selector)">
                      <ion-label>Topics</ion-label>
                      <ion-select class="bsr_selectTopic_selectOp" id="selectTopic" formControlName="selectTopic" #selector (ionChange)="onChange($event)" [ngClass]="{ 'is-invalid': submitted && f7.selectTopic.errors }" [interfaceOptions]="customAlertOptions" multiple="true" >
                      <ion-select-option *ngFor="let year of years" [value]="year.id">{{year.name}}</ion-select-option>
                    </ion-select>
                </ion-item>

                    <div *ngIf="submitted && f7.selectTopic.errors" class="invalid-feedback">
                    <div *ngIf="f7.selectTopic.errors.required">Select Topic is required</div>
                  </div>
                  </div>
                </div>

                <div class="bsr_selectTopic_selectedTopic row row-setting display">

                  <div class="col-md-12 command-list " *ngFor="let selectedTopicNames of selectedTopicName | keyvalue">
                    <div *ngFor="let data of selectedTopicNames.value | keyvalue">
                    <label class="lable-title command-list-item">{{data.value}}</label><br>
                   <br>
                  </div>
                  </div> 
              </div>     
                
              <div>
                <button  expand="full" type="submit"  class="btn btn-defaultt mt-3 ">Save</button>                 
                </div>
          </form>
  </div>
</div>
<ng-template #elseBlock>
<div class="container membershipContainer">
  <div class="form mt-5">
      <form action="" class="form-horozontal" [formGroup]="Topic" style="opacity: .5;">
            <div class="form-group">
              <ion-label class="control-label col-sm-5">Select Topic </ion-label>
              <div class="col-sm-12 inputsm">                  
                <ion-item>
                  <ion-label>Topics</ion-label>
                  <ion-select class="bsr_selectTopic_selectOp" id="selectTopic" formControlName="selectTopic" #selector [ngClass]="{ 'is-invalid': submitted && f7.selectTopic.errors }" [interfaceOptions]="customAlertOptions" multiple="true" >
                  <ion-select-option *ngFor="let year of years" [value]="year.id">{{year.name}}</ion-select-option>
                </ion-select>
            </ion-item>

                <div *ngIf="submitted && f7.selectTopic.errors" class="invalid-feedback">
                <div *ngIf="f7.selectTopic.errors.required">Select Topic is required</div>
              </div>
              </div>
            </div>

            <div class="bsr_selectTopic_selectedTopic row row-setting display">

              <div class="col-md-12 command-list " *ngFor="let selectedTopicNames of selectedTopicName | keyvalue">
                <div *ngFor="let data of selectedTopicNames.value | keyvalue">
                <label class="lable-title command-list-item">{{data.value}}</label><br>
               <br>
              </div>
              </div> 
          </div>     
            
          <div>
            <button  expand="full" type="button"  class="btn btn-defaultt mt-3 ">Save</button>                 
            </div>
      </form>
      <div id="text"><img src="https://api.iconify.design/et-lock.svg" style="width: 20%;"><br><span style="font-size: 17px;">Buy membership to activate this feature <a href="http://demo.yashaadigital.com/BSR/v4/plans" style="color:#05108c;" >Click here</a> to buy membership</span></div>
  </div>
</div>
</ng-template>
  <ion-label >
    <p class="bsr_selectTopic_link account" >
      <a *ngIf="activeMembership" [routerLink]="['/create-topic']">Didn't Find Your Topic?</a>
    </p>
  </ion-label>
 </ion-content>
 <ion-footer class="footerdf">
  <p class="footercenter">  
    <a *ngIf="activeMembership" class="bsr_selectTopic_footer" [routerLink]="['/create-topic']">Create Topic</a>
    <a *ngIf="!activeMembership" class="bsr_selectTopic_footer" >Create Topic</a>
    <p></p>
</ion-footer>
