<ion-header>
  <ion-toolbar>
    
      <ion-title class="bsr_modalpopup_title" >Select Topic</ion-title>
      <button class="buttontransp" size="small" slot="end" (click)=" CloseModal()"><ion-icon class="back" name="close"></ion-icon></button>
  
    
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="container ">
    <div class="form mt-5">
        <form action=""  class="form-horozontal">
            <ion-list class="list">
              <ion-item  (change)="onSelectAll($event)">
                <div class="container">
                  <!-- <div style="flex-wrap: nowrap !important;" class="row"> -->
             
                    <label class="topicModal bold" for="{{topicData}}"  >Select All</label> 
                <input id="{{topicData}}" class="selectCheckbox float_left" type="checkbox" [value]="topicData" [checked]="isSelectAll"  > 
            
                 
              </div>
                
              </ion-item>
            
              <ion-item class=""   *ngFor="let topicDataa of topicData" >
                
                <div class="container">
                <!-- <div style="flex-wrap: nowrap !important;" class="row">
                  <div  > -->
                 <label class="topicModal" for="{{ topicDataa.topic_name }}">     {{ topicDataa.topic_name }}  </label>
                 
                <input (change)="selectTopic($event.target)" class="largeCheckbox float_left " type="checkbox"
                 name="topic_guid" id="{{ topicDataa.topic_name }}" [checked]="topicDataa.isSelected" value="{{topicDataa.topic_guid}}" >
               
               
              </div>
                
            
                 
              </ion-item>
              
            </ion-list>
            
          </form>
          </div>
          </div>
 </ion-content>
 <ion-footer>
        <div *ngIf="len >=1 ; then thenBlock else elseBlock"></div>
        <button #thenBlock class="btn btn-default mt-3 btnw" type="submit" *ngIf="len >= 1"  (click) ="save()">Continue</button>
 </ion-footer>