.center{
    text-align: center;
}

#ion-item{
 color: #c4c9ca;    
}
.btn{
    background-color: #56acee;
    color: whitesmoke;
    margin-top: 0px !important;
}
.btnw{
    width: 100%;
}
.bold{
    font-weight: bold !important;
}

.container {
     margin-top: 0 !important; 
     margin-bottom: 0 !important; 
     padding-right: 0 !important; 
     padding-left: 0 !important; 
}