   

<ion-content>
  <ion-toolbar>
    <div class="topnav">
     <!--  <a class="icontop" ><img class="nav-icon" src="/assets/images/logo.png" ></a> -->
      
      
      <div class="topnav-right">
        <a class="active" href="#home">Home</a>
        <a class="navv" href="#about">About</a>
        <a  class="navv" href="#contact">Contact</a>
        <a class="navv" href="#login">Login</a>
      </div>
    </div>
   </ion-toolbar>
   <div class="page-header">
    <div class="jumbotron jumbotron-fluid bg-blue-light">
        <div class="container">
             <h1 class="display-3 text-white font-weight-boldd">Hello Jhon</h1> 
             <p class="lead text-white"><a href="tel:(800) 900 200-300" class="text-white">
              (800) 900 200-300</a> 
              <a href="mailto:info@example.com" class="text-white ml-3">
               info@example.com</a></p>  
        </div>
    </div>
</div>

<div class="main-content">
  <div class="container bg-white shadow bg-white p-5 ">
      <h2 class="sub-title">Add Topic<span class="float-right"><a href="" class="text-default">Logout</a></span></h2>
      <div class="form mt-5">
          <b><label for="" class="font-weight-boldd">Create Topic</label></b>
          <form action="" class="form-horozontal" [formGroup]="addTopic" (ngSubmit)="onSubmit()">
              <div class="form-group mt-4">
                  <label for="">Name</label>
                  <input formControlName="name"  [ngClass]="{ 'is-invalid': submitted && f4.name.errors }" type="text" class="form-control" name="" id="" aria-describedby="helpId">
                  <div *ngIf="submitted && f4.name.errors" class="invalid-feedback">
                    <div *ngIf="f4.name.errors.required"> Name is required</div>
                </div>
                </div>
              <div class="row">
                  <div class="col-sm-2">
                      <div class="form-check">
                          <label class="form-check-label">
                          <input type="radio" class="form-check-input" name="level" id="" value="checkedValue">
                          Military General
                        </label>
                      </div>
                  </div>
                  <div class="col-sm-2">
                      <div class="form-check">
                          <label class="form-check-label">
                          <input type="radio" class="form-check-input" name="level" id="" value="checkedValue">
                          Rate Specific
                        </label>
                      </div>
                  </div>
              </div>
               
            
              <div  >
                        
                  <button type="submit" style="width: 104px; margin-bottom: 5px;" class="btn btn-default mt-3">Save</button> &nbsp;&nbsp;&nbsp;&nbsp;
                  <button type="submit" style="width: 104px; margin-bottom: 5px;" class="btn btn-default mt-3">Back</button>
                
                </div>
                  <!-- <div class="text-left">
                    <button type="button" class="btn btn-default">Back</button>
                </div> -->
              
              
          </form>
      </div>

      
      
  </div>
</div>

 
<ion-footer>
  <div class="content bg-light"> 
    <div class="container">
  <div class="row" >
    <div class="col-md-4">
      <div class="logo">
            <img src="/assets/images/logo.png" alt="" class="icon-footer">
    </div>
      <p class="paragraph">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
        labore et dolore magna aliqua.Ut enim ad minim veniam <br><br>Lorem ipsum dolor sit amet,
        consectetur adipiscing elit
    </p>
      </div>
      <div class="col-md-4">
        <ul style="list-style-type:none;" class="footer-nav">
          <li><a >Home</a></li>
          <li><a >About</a></li>
          <li><a >Services</a></li>
          <li><a >Contact</a></li>
          <li><a >Help</a></li>
          <li><a >Privacy Policy</a></li>
          <li><a >Support</a></li>
          <li><a >Terms & Conditions</a></li>
      </ul>
      </div>
      <div class="col-md-4">
        <p class="paragraph">
          360 King Street <br>
          Feasterville Trevose, PA 19053
          <br><br>
          <a href="tel:(800) 900 200-300" class="text-black">(800) 900 200-300</a> . <a
              href="mailto:info@example.com">info@example.com</a>
      </p>
      <ion-row class="social"  style="margin-left: 118px;" >
        <button >
          <ion-icon   name="logo-twitter"></ion-icon>
        </button>
        <button >
         <ion-icon  name="logo-facebook"></ion-icon>
       </button>
       <button >
        <ion-icon name="logo-instagram"></ion-icon>
      </button>
      </ion-row>
      </div>
      </div>
      </div>
      </div>
    </ion-footer>
 

</ion-content>
