ion-toolbar{
    --background:#1DA1F2;
    .topnav {
        background-color: #1DA1F2;;
        overflow: hidden;
    }
    
   
    /* Style the links inside the navigation bar */
    .topnav a {
      float: left;
      color: #fff;
      padding: 9px 16px;
      text-decoration: none;
      font-size: 17px;
    }
    
    /* Change the color of links on hover */
    .topnav a:hover {
        background: #168ed8;
        color: #fff;
    }
    
    /* Add a color to the active/current link */
    .topnav a.active {
   /*    background-color: #5260bf; */
      color: white;
    }
    
    /* Right-aligned section inside the top navigation */
    .topnav-right {
      float: right;
    }
    ion-button{
        --background:white !important;
        opacity: 0.1;
    }
   
}

@media only screen and (max-width: 992px) {
    .nav-icon{
        width:11%;
         margin-left: 121px;
    }
    .font-weight-bold{
        font-weight: 700 !important;   //page header
        margin-right: 40px;
    }

    .font-weight-boldd{
        font-weight: 700 !important;   //page header

    }
    .display-3 {
        font-size: 3.5rem;   //page header font size
    }
    .page-header .jumbotron{ //page header mobile view
    padding-top: 10px;
    padding-bottom: 289px;
    }
    .text-white {
        color: #fff !important;
        text-align: center;
    }

    .p-5 {
        padding-top: 1px !important;
        padding-left: 0rem !important;
        padding: 0rem !important;
    }

    .main-title {
        font-size: 19px !important;
        font-weight: 400;
        margin-left: 3px;
        margin-bottom: 24px;
        margin-top: -6px;
        padding-top: 7px;
    }
    .sub-title{
        font-size: 18px !important;
        font-weight: 500 !important;
    }
    
     
    .text-default{
        margin-right: 6px;
        font-size: 18px;
    }
    .ml-3, .mx-3 {
        margin-left: 0rem !important;
    }
    .main-content {
        margin-top: -270px;
        margin-bottom: 0;
        padding-bottom: 13px;
    }

    //footer
    .icon-footer
    {
    margin-left: 101px !important;
    width: 30%;
     }   

     .footericon {
         margin-left: 40px;
     }
     .main-content {
        margin-top: -270px;
        margin-bottom: 0;
        padding-bottom: 15px;
    }
    .content {
        padding-top: 4px;
        padding-bottom: 80px;
    }
    .paragraph{
        text-align: center;
    }
     
    .social{
        margin-left: 98px ;
    }

    //form
    .mt-5, .my-5 {
        margin-top: 3rem !important;
        margin-left: 16px;
        margin-right: 13px;
    }
    .btn-default-dark:hover {
        background: #001f68;
        color: #fff;
    }
    
    .btn-default-dark {
        background: #3B5998;
        color: #fff;
        margin-right: 77px;
    }
        
}
@media only screen and (min-width: 992px) {
    .nav-icon{
        width: 8% !important;
        margin-left: 34px;
    }
    .navv{
        margin-top: 11px;
    }
    .active{
        margin-top: 11px;
    }

    .col-md-4{
        margin-top: 10px;
     }
     .footer-nav li {
         line-height: 40px;
     }
     
     .footer-nav li a {
         text-transform: uppercase;
         color: #111;
         font-size: 11px;
     }
     
      .social li {
     display: inline;
     font-size: 25px;
     margin-right: 30px;
     }
 
     .social li a {
     color: #111;
      }
    .nav-icon{
     width: 8% !important;
     margin-left: 34px;
     }
      .icon-footer{
     width: 20%;
     margin-left: 31px;

     }
  
    .footer-nav {
    -moz-columns: 2;
    columns: 2;
     }
     .paragraph{
    text-align: center;
      }
 
      .font-weight-bold{
      font-weight: 700 !important;
       }

     .page-header .jumbotron {   //page header
      padding-top: 200px;
      padding-bottom: 350px;
      margin-bottom: 0;
       }

    .login-history th{
        font-weight: 600;
    }
    
    .login-history tr td:first-child{
        font-weight: 600;
        color: red;
    }
    
    .login-history tr td .btn{
        font-weight: 600;
        color: red;
        padding: 0;
    }

    .login-detail{
        display: none;
        width: 100%;
    }
    
    .login-detail td{
        padding: 20px;
        border: 1px solid #d7d7d7;
        background: #fff;
    }
    
    .login-detail.show{
        display: table-row;
    }
    
    .login-detail td:first-child{
        font-weight: 400 !important;
        color: #111 !important;
    }
    
    
    .login-detail .head{
        font-weight: 600;
        text-transform: uppercase;
    }
    .table th, .table td {
        padding: 0.75rem;
        vertical-align: top;
        border-bottom: 1px solid #dee2e6;
        border-top: 1px solid #dee2e6;
        border-left:1px solid #dee2e6;
        border-right:1px solid #dee2e6;
    }
    .btn-default-dark:hover {
        background: #001f68;
        color: #fff;
    }
    
    .btn-default-dark {
        background: #3B5998;
        color: #fff;
    }
    //footer
    .main-content {
        margin-top: -270px;
        margin-bottom: 0;
        padding-bottom: 70px;
    }
    .content {
        padding-top: 80px;
        padding-bottom: 80px;
    }
    .paragraph{
        text-align: center;
    }
    .social{
        margin-left: 118px ;
    }
     
.main-title {
    font-size: 20px;
    font-weight: 600;
}
     
    
}


.btn-default{
    background: #1DA1F2;
    color: white;
}




.bg-blue-light {
    background: #1DA1F2;
}



.down-title {
    font-size: 20px;
    font-weight: 600;
    padding-bottom: 5px;
    border-bottom: 1px solid #d7d7d7;
    margin-top: 40px;
}

 

.overlay-content {
    position: relative;
    z-index: 2;
}



.content .title {
    font-size: 30px;
    font-weight: 600;
}

 
.footer-nav {
    -moz-columns: 2;
    columns: 2;
}