<ion-content>
  <ion-toolbar class="toolbar" >
     <ion-title class="bsr-titleCenter">Membership History</ion-title>
      <ion-buttons slot="start">
          <button (click)="back()" class="bsr_backbtn_background">
              <ion-icon class="bsr_addtmp_backicon back"  name="arrow-back"></ion-icon> 
           </button>
      </ion-buttons>
   </ion-toolbar>

<div class="main-content login-history">
  <div >
      <table class="table">
        <thead>
            <tr>
                <th><b>Plan</b></th>
                <th><b>Amount</b></th>
                <th><b>Started On</b></th>
                <th><b>Expired On</b></th>
                <th><b>Status</b></th>
            </tr>
        </thead>
            <tbody  *ngFor =" let membership of membershipHistoy"   >
                <tr>
                    <td scope="row">{{membership.plan_name}}</td>
                    <td>${{membership.trans_amount}}</td>
                    <td>{{membership.start_date}}</td>
                    <td>{{membership.end_date}}</td>
                    <td>{{membership.status}}</td>
                </tr>
            </tbody>
        </table>
    </div>
  </div>
</ion-content>