 
     
    ion-button{
        --background:white !important;
        opacity: 0.1;
    }
    
    .mt-5, .my-5 {
        margin-top: 1rem !important;
    }

    .editButton{
        margin-left: 7px;
        font-size: 20px;
    }
    .rotate{
        -moz-transition: all 0.1s linear;
        -webkit-transition: all .0.2s linear;
        transition: all 0.3s linear;
    }
    
    .rotate.down{
        -moz-transform:rotate(180deg);
        -webkit-transform:rotate(180deg);
        transform:rotate(180deg);
    }
    
    
    .container {
        margin-top: 20px;
        margin-bottom: 20px;
        padding-right: 15px;
        padding-left: 15px;
    }
    .label {
        border: 1px red;
        text-align: center;
        border-width: 1.5px;
        border-style: solid ;
        margin-right:10px;
        margin-bottom:10px;
        padding: 4px 8px;
        font-size: 12px;
        font-weight: 400;
       
      }

    
    .bold{
        font-weight: bold;
    }
   
.bsr_temp_downarrow{
    // float: right;
    position: absolute;
    right: 0;
}

.bsr_backbtn_background{
    background: none;
  }
  .membershipContainer{
    position: fixed;
    width: 100%;
    height: 100%;
    // top: 0;
    left: 0;
    right: 0;
    // bottom: 0;
    background: rgba(0,0,0,0.5);
    z-index: 2;
    cursor: pointer;
}
#text{
    position: absolute;
    top: 40%;
    left: 50%;
    // font-size: 20px;
    color: white;
    transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    text-align: center;
  }
.membershipContainer1{
    position: fixed;
    width: 100%;
    height: 100%;
    // top: 0;
    left: 0;
    right: 0;
    // bottom: 0;
    // background: rgba(228, 221, 221, 0.5);
    z-index: 2;
    // cursor: pointer;
}
#text1{
    position: absolute;
    top: 40%;
    left: 50%;
    // font-size: 20px;
    color: rgb(38, 26, 206);
    transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    text-align: center;
  }
  .btns{
      text-align: right;
  }
  .btns span{
    margin-right: 10px; color: #002668; font-weight: bold; text-transform: uppercase; font-size: 14px;
  }

  .btns span:last-child{
    margin-right: 0px;
  }