<!-- Author : Pravin Thakare | Updated Date: 16 April 2021 -->
<!-- Changes : Select and Edit buttons and there actions updated -->

<ion-header [translucent]="true">
  <ion-toolbar class="toolbar">
    <ion-title class="bsr-titleCenter">Select Template</ion-title>
    <ion-buttons slot="start">
      <button (click)="back()" class="bsr_backbtn_background">
        <ion-icon class="bsr_addtmp_backicon back" name="arrow-back"></ion-icon>
      </button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="container" *ngIf="activeMembership; else elseBlock">
    <!-- <div class="container"> -->
    <!-- <ion-refresher slot="fixed" (ionRefresh)="reloadItems($event)">
      <ion-refresher-content pullingText="Pull to refresh" refreshingText="Refreshing..."></ion-refresher-content>
    </ion-refresher> -->
    <div class="form mt-5" *ngIf="showData">
      <form action="" [formGroup]="Template" class="form-horozontal">
        <div class="col-12 bsr-select-topic-div" *ngFor="let template of templateData">

          <div class="form-check">
            <div class="row">
              <!-- <ion-row> -->
                <ion-col size="6">
                  <!-- <input type="radio" formControlName="Stemplate" class="form-check-input" id="Stemplate"
                    [value]="template.templateData.bs_template_guid"
                    (click)="OpenModal(template.templateData.bs_template_guid)"> -->
                    <input type="radio" class="form-check-input" id="Stemplate" (click)="hideme[template.templateData.bs_template_guid]=!hideme[template.templateData.bs_template_guid]">
                  <label class="form-check-label1" (click)="hideme[template.templateData.bs_template_guid]=!hideme[template.templateData.bs_template_guid]">
                    <b>{{template.templateData.bst_name}}</b>
                    <!-- <a *ngIf="template.templateData.Active == 1" class="editButton"
                      (click)="editTemplate(template.templateData.bs_template_guid, 'Active',template.templateData.bst_name)">
                      <ion-icon name="create"></ion-icon>
                    </a>
                    <a *ngIf="template.templateData.Active == 0" class="editButton"
                      (click)="editTemplate(template.templateData.bs_template_guid, 'Reservist',template.templateData.bst_name)">
                      <ion-icon name="create"></ion-icon>
                    </a> -->
                  </label>
                  <div [hidden]="!hideme[template.templateData.bs_template_guid]">

                    <p class="form-check-label1"><b>Rate</b></p>
                    <ul style="list-style-type:none;padding-inline-start: 15px !important;">
                      <li *ngFor="let topic of template._rateSpecific">{{topic.scalar}}</li>
                    </ul>

                    <p class="form-check-label1"><b>Military General</b></p>
                    <ul style="list-style-type:none;padding-inline-start: 15px !important;">
                      <li *ngFor="let topic of template._militaryGeneral">{{topic.scalar}}</li>
                    </ul>

                    <p class="form-check-label1"><b>Both</b></p>
                    <ul style="list-style-type:none;padding-inline-start: 15px !important;">
                      <li *ngFor="let topic of template._Both">{{topic.scalar}}</li>
                    </ul>
                  </div>
                </ion-col>
                <ion-col class="btns" size="6">
                  <span *ngIf="template.templateData.Active == 1" (click)="editTemplate(template.templateData.bs_template_guid, 'Active',template.templateData.bst_name)">Edit</span>
                <span *ngIf="template.templateData.Active == 0" (click)="editTemplate(template.templateData.bs_template_guid, 'Reservist',template.templateData.bst_name)">Edit</span>
                <span *ngIf="buttonActive" (click)="OpenModal(template.templateData.bs_template_guid)">Select</span>
                </ion-col>
              <!-- </ion-row> -->
              <!-- <ion-icon name="caret-down-sharp" class="text-right bsr_temp_downarrow"></ion-icon> -->
            </div>
          </div>
        </div>

        <!-- <button *ngIf="buttonActive" expand="full" type="submit" class="btn btn-defaultt mt-3">Select</button> -->
      </form>
    </div>

  </div>


  <ng-template #elseBlock>
    <div class="container membershipContainer">
       <div class="form mt-5" *ngIf="showData">
        <div id="text">
          <img src="https://api.iconify.design/et-lock.svg" style="width: 20%;"><br>
          <!-- <span style="font-size: 17px;">Buy membership to activate this feature <a href="http://demo.yashaadigital.com/BSR/v4/plans" style="color:#05108c;">Click here</a> to buy
            membership</span> -->
          <span style="font-size: 17px;">Buy membership to activate this feature <a [routerLink]="['/yashaa-membership-plans']" style="color:#05108c;">Click here</a> to buy
              membership</span>
        </div>
        
      </div>
    </div>
  </ng-template>

  <!-- No Data Found Screen -->
  <!-- <ng-template #noDataFond> -->
    <div *ngIf="noDataFond == true">
    <div class="container membershipContainer1">
      <div id="text1">
        <span style="font-size: 16px; font-weight: bold;"><a style="color:#05108c;">You do not have any template, please create a template.</a></span>
      </div>
    </div>
  </div>
  <!-- </ng-template> -->


  <!-- <ion-label><p class="account" style="color:#002668 ;font: normal normal normal 12px/22px Arial;text-align: center;margin-top: 10px;" >
  <a [routerLink]="['/add-template']"> Didn't Find Your Template? </a></p></ion-label> -->
</ion-content>
<ion-footer class="footerdf">

  <p class="footercenter">
    <!-- <a style="color: #fff !important;" [routerLink]="['/add-template']">Create Template</a> -->
    <a *ngIf="activeMembership" class="bsr_selectTemp_crtTemp" (click)="createTemplate()">Create Template</a>
    <a *ngIf="!activeMembership" class="bsr_selectTemp_crtTemp">Create Template</a>
  </p>

</ion-footer>