<ion-header>
  <ion-toolbar>

    <ion-title>profile</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button menu="main-menu"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  
  <ion-card>
    <div class="avatar-container pos-relative mb-4 rounded ml-auto mr-auto">
      <img src="/assets/images/profile1.png" id="imgProfile" class="avatar" />
  </div>
  </ion-card>
  <div class="container"> 
     <button [routerLink]="['/update-profile']" (click)="onSubmit()"  expand="full" type="submit"  class="btn btn-default  btn-profile">Profile</button> 
  </div>
  <div class="container"> 
    <button [routerLink]="['/current-command']" (click)="onSubmit()"  expand="full" type="submit"  class="btn btn-default  btn-profile">Current Command</button> 
  </div>
  <div class="container"> 
    <button [routerLink]="['/past-command']" (click)="onSubmit()"  expand="full" type="submit"  class="btn btn-default  btn-profile">Past Command</button> 
  </div>
  <div class="container"> 
    <button [routerLink]="['/primary-job']" (click)="onSubmit()"  expand="full" type="submit"  class="btn btn-default  btn-profile">Primary Job</button> 
 </div>
 <div class="container"> 
  <button [routerLink]="['/collecteral-duty']" (click)="onSubmit()"  expand="full" type="submit"  class="btn btn-default  btn-profile">Collateral Duty</button> 
</div>
<div class="container"> 
  <button [routerLink]="['/education']" (click)="onSubmit()"  expand="full" type="submit"  class="btn btn-default  btn-profile">Education</button> 
</div>
    
</ion-content>
