ion-toolbar{
    --background:#1DA1F2;
    .topnav {
        background-color: #1DA1F2;;
        overflow: hidden;
    }
}

 
.main-content {
    margin-top: -100px !important;
    margin-bottom: 0;
    padding-bottom: 13px;
}

.jumbotron {
    margin-bottom: 0px !important;
}
@media only screen and (max-width: 992px) {
     
    .page-header .jumbotron{ //page header mobile view
    padding-top: 85px;
   
    }
   
 
     .main-content {
        margin-top: -100px !important;
        margin-bottom: 0;
        padding-bottom: 15px;
    }
     
     .container{
        padding-right: 45px;
        padding-left: 45px;
     }

    //avatar
    .avatar-container {
        border: 1px solid #d7d7d7;
    }
    .avatar-container.rounded {
        width: 150px;
        height: 150px;
        overflow: hidden;
        border-radius: 50% !important;
        -webkit-border-radius: 50% !important;
        -moz-border-radius: 50% !important;
        -ms-border-radius: 50% !important;
        -o-border-radius: 50% !important;
    }
    .avatar-container.rounded .avatar {
        height: 100%;
        width: 100%;
    }
    .avatar-container .avatar {
        height: 200px;
        width: auto;
    }
    .avatar-container .middle {
        position: absolute;
        bottom: 0;
        width: 100%;
        opacity: 0;
        transition: opacity 0.3s;
        -webkit-transition: opacity 0.3s;
        -moz-transition: opacity 0.3s;
        -ms-transition: opacity 0.3s;
        -o-transition: opacity 0.3s;
    }
    .avatar-container:hover .middle {
        opacity: 100%;
    }
    .avatar-container.rounded .middle .btn {
        font-size: 14px;
    }
    
    .disabled input,
    .disabled textarea {
        pointer-events: none;
    }     
    .opacity-3 {
        opacity: 0.3
    }
    #field .btn {
        margin-bottom: 20px !important;
    }
    
    .btn.add-more {
        margin-left: -3px;
    }
    
    .btn.add-more,
    .btn.remove-me {
        width: 38px !important;
        height: 38px !important;
        vertical-align: top;
    }
    
.pos-relative {
    position: relative;
}
.sub-title {
    font-size: 16px;
    font-weight: 500;
}
}
@media only screen and (min-width: 992px) {
     
 
    .footer-nav {
    -moz-columns: 2;
    columns: 2;
     }
     .paragraph{
    text-align: center;
      }
 
      .font-weight-bold{
      font-weight: 700 !important;
       }

     .page-header .jumbotron {   //page header
      padding-top: 200px;
      padding-bottom: 350px;
      margin-bottom: 0;
       }

    
    .btn-default-dark:hover {
        background: #001f68;
        color: #fff;
    }
    
    .btn-default-dark {
        background: #3B5998;
        color: #fff;
    }
     
    //avatar
    .avatar-container {
        border: 1px solid #d7d7d7;
    } 
    .avatar-container.rounded {
        width: 150px;
        height: 150px;
        overflow: hidden;
        border-radius: 50% !important;
        -webkit-border-radius: 50% !important;
        -moz-border-radius: 50% !important;
        -ms-border-radius: 50% !important;
        -o-border-radius: 50% !important;
    }
    .avatar-container.rounded .avatar {
        height: 100%;
        width: 100%;
    }
    .avatar-container .avatar {
        height: 200px ;
        width: auto;
    }
    .avatar-container .middle {
        position: absolute;
        bottom: 0;
        width: 100%;
        opacity: 0;
        transition: opacity 0.3s;
        -webkit-transition: opacity 0.3s;
        -moz-transition: opacity 0.3s;
        -ms-transition: opacity 0.3s;
        -o-transition: opacity 0.3s;
    }
    .avatar-container:hover .middle {
        opacity: 100%;
    }

    .avatar-container.rounded .middle .btn {
        font-size: 14px;
    }
    
    .disabled input,
    .disabled textarea {
        pointer-events: none;
    }
    .opacity-3 {
        opacity: 0.3
    }
    #field .btn {
        margin-bottom: 20px !important;
    }
    
    .btn.add-more {
        margin-left: -3px;
    }
    
    .btn.add-more,
    .btn.remove-me {
        width: 38px !important;
        height: 38px !important;
        vertical-align: top;
    }
    .btn-absolute {
        position: absolute;
        bottom: 15px;
        right: 15px;
        width: 50px;
    
    }
    
   .pos-relative {
    position: relative;
    }
   .sub-title{
    font-size:20px;
    font-weight: 600;;
    }
}


.btn-default{
    background: #1DA1F2;
    color: white;
}




.bg-blue-light {
    background: #1DA1F2;
}

 
.main-title {
    font-size: 20px !important;
    font-weight: 600;
}


.down-title {
    font-size: 20px !important;
    font-weight: 600;
    padding-bottom: 5px;
    border-bottom: 1px solid #d7d7d7;
    margin-top: 40px;
}

 

.overlay-content {
    position: relative;
    z-index: 2;
}



.content .title {
    font-size: 30px;
    font-weight: 600;
}

 
.footer-nav {
    -moz-columns: 2;
    columns: 2;
}



