    

<ion-content>
  <ion-toolbar class="toolbar">
    <div class="topnav">
      <ion-title >Update Professional Profile</ion-title>
    </div>
   </ion-toolbar>
  <div class="page-header">
    <div class="jumbotron jumbotron-fluid bg-blue-light">
        
    </div>
</div>

<div class="main-content">
  <div class="container ">
              <div class="avatar-container pos-relative mb-4 rounded ml-auto mr-auto">
                  <img src="/assets/images/default.jpg" id="imgProfile" class="avatar" />
                  <div class="middle">
                      <input type="button" class="btn btn-light container-fluid opacity-3" id="btnChangePicture" value="Update" />
                      <input type="file" style="display: none;" id="profilePicture" name="file" />
                  </div>
              </div>
         

          <div class="form "> 
            <form action=""  class="form-horozontal" [formGroup]="updateProfile" (ngSubmit)="onSubmit()">
          <div class="row">
            <div class="col-md-4">
                <div class="form-group">
                    <ion-label for="">First Name</ion-label>
                  <input formControlName="fname"  [ngClass]="{ 'is-invalid': submitted && f1.fname.errors }"
                   type="text" class="form-control input" name="" id="" aria-describedby="helpId">
                  <div *ngIf="submitted && f1.fname.errors" class="invalid-feedback">
                    <div *ngIf="f1.fname.errors.required">First Name is required.</div>
                </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <ion-label for="">Middle Name</ion-label>
                  <input  formControlName="mname"  [ngClass]="{ 'is-invalid': submitted && f1.mname.errors }" 
                  type="text" class="form-control input" name="" id="" aria-describedby="helpId">
                  <div *ngIf="submitted && f1.mname.errors" class="invalid-feedback">
                    <div *ngIf="f1.mname.errors.required">Middle Name is required.</div>
                </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <ion-label for="">Last Name</ion-label>
                  <input  formControlName="lname"  [ngClass]="{ 'is-invalid': submitted && f1.lname.errors }" 
                  type="text" class="form-control input" name="" id="" aria-describedby="helpId">
                  <div *ngIf="submitted && f1.lname.errors" class="invalid-feedback">
                    <div *ngIf="f1.lname.errors.required">Last Name is required.</div>
                </div>
                </div>
            </div>
            <div class="col-md-12">
              <div class="form-group">
                  <ion-label for="">Rate</ion-label>
                <select  formControlName="lname"  [ngClass]="{ 'is-invalid': submitted && f1.rate.errors }" 
                class="form-control input" name="" id="">
                  <option>Rate 1</option>
                  <option>Rate 2</option>
                </select>
                <div *ngIf="submitted && f1.rate.errors" class="invalid-feedback">
                  <div *ngIf="f1.rate.errors.required">Rate is required.</div>
              </div>
              </div>
          </div>
          <div class="col-md-12">
            <div class="form-group">
                <ion-label for="">Rank</ion-label>
              <select formControlName="lname"  [ngClass]="{ 'is-invalid': submitted && f1.rank.errors }" 
              class="form-control input" name="" id="">
                <option>Rank 1</option>
                <option>Rank 2</option>
              </select>
              <div *ngIf="submitted && f1.rank.errors" class="invalid-feedback">
                <div *ngIf="f1.rank.errors.required">Rank is required.</div>
            </div>
            </div>
        </div>
        <div class="col-md-12">
            <div class="form-group">
                <ion-label for="">Designator(s)</ion-label>
              <select formControlName="designator"  [ngClass]="{ 'is-invalid': submitted && f1.designator.errors }"
               class="form-control input" name="" id="">
                <option>Designators 1</option>
                <option>Designators 2</option>
              </select>
              <div *ngIf="submitted && f1.designator.errors" class="invalid-feedback">
                <div *ngIf="f1.designator.errors.required">Designator is required.</div>
            </div>
            </div>
        </div>
        <div class="col-md-12">
            <div class="form-group">
                <ion-label for="">PEB</ion-label>
              <input  type="date" [min]="avlDate" id="avlDate" [ngClass]="{ 'is-invalid': submitted && f1.avlDate.errors }"
               type="date" class="form-control input" name="" id="" aria-describedby="helpId">
              <div *ngIf="submitted && f1.avlDate.errors" class="invalid-feedback">
                <div *ngIf="f1.avlDate.errors.required">PEB is required</div>
            </div>
            </div>
        </div>
        <div class="col-md-12">
          <div class="form-group">
              <ion-label >EAOS</ion-label>
              <input  formControlName="eaos"  [ngClass]="{ 'is-invalid': submitted && f1.eaos.errors }"
               type="date" class="form-control input" name="" id="" aria-describedby="helpId">
              <div *ngIf="submitted && f1.eaos.errors" class="invalid-feedback">
                <div *ngIf="f1.eaos.errors.required">EAOS is required</div>
            </div>
            </div>
          </div>
          </div>
              <div>
                <button (click)="onSubmit()"  expand="full" type="submit"  
                  class="btn btn-default mt-3" >Save</button>
                </div>
          </form>
      </div> 
  </div>
</div>
</ion-content>
<ion-footer class="footer">
    
</ion-footer>