.swiper-slide {
    text-align: left !important;
}
.swiper-zoom-container {
    text-align: left !important;
}  

.tab input.invalid {
    background-color: #ffdddd;
    border: solid 1px #ff0000 !important;
}

.tab select.invalid{
    background-color: #ffdddd;
    border: solid 1px #ff0000 !important;
}
 