<ion-header [translucent]="true">
   <ion-toolbar class="toolbar">
      <ion-title class="bsr-titleCenter">Create Report</ion-title>
      <ion-buttons slot="start">
        <button (click)="back()" class="bsr_backbtn_background" >
          <ion-icon class="bsr_addtmp_backicon back"  name="arrow-back"></ion-icon> 
       </button>
   </ion-buttons>
   </ion-toolbar>
 </ion-header>
 <ion-content>
   <!-- <h5 class="control-label col-sm-5" *ngFor="let templateDataa of templateData">{{templateDataa.bst_name}}</h5> -->
   <div class="form ">
      <form class="form-horozontal " [formGroup]="FillReport" id="dailyUpdate">
         <input type="hidden" [value]="template_id" name="template_id">
         <input type="hidden" [value]="len" name="topic_length" id="len">
         <input type="hidden" [value]="token" name="token" >
            <div class="tag" *ngFor="let topicDataa of topicData">
               <div class="container tab" id="tab_{{topicDataa.guid}}">
                 
                     <!-- <p style="padding-left: 16px;font-weight: bold">{{topicDataa.topic_name}}</p> -->
                     <div *ngFor="let field of topicDataa.fields">
                        <input type="hidden" [value]="field.guid" name="guid[]">
                        <input type="hidden" [value]="field.field_type_guid" name="type[]">
                        <input type="hidden" [value]="topicDataa.topic_guid" name="topic[]">
                      
                        <div class="form-group" *ngIf="field.field_type_guid==1">
                           <ion-label class="control-label ">{{field.field_name}}</ion-label>
                           <div class="col-sm-12 inputsm">
                              <select formControlName="answer" name="answer[]" class="form-control input" okText="Okay"
                                 cancelText="Dismiss"(change)="removeClass()">
                                 <option value="">Select Option</option>
                                 
                                 <option *ngFor="let list of field.options" [value]="list.valueoption" selected>
                                    {{list.valueoption}}
                                 </option>
                              </select>
                           </div>
                        </div>
 
                        <div class="form-group" *ngIf="field.field_type_guid==2">
                           <ion-label>{{field.field_name}}</ion-label>
                           <input formControlName="answer"  required type="text" class="form-control input" name="answer[]"
                              aria-describedby="helpId">
                        </div>
                        <div class="form-group" *ngIf="field.field_type_guid==3">
                           <ion-label>{{field.field_name}}</ion-label>
                           <input formControlName="answer" style="background: #BCE0FD 0% 0% no-repeat padding-box;
                           opacity: 1;
                           border-radius: 0px;
                           color: #3B5998;
                           margin-bottom: 3%;" type="date" class="form-control" name="answer[]">
                        </div>
                        <div>
 
                        </div>
                        <div class="form-group " *ngIf="field.field_type_guid== 4 ">
                           <!-- date range  -->
                           <ion-label>{{field.field_name}}</ion-label>
                           <div class="row"></div>
                           <ion-label>Start date</ion-label>
 
                           <input formControlName="answer" type="date" data-date-format="mm-dd-yyyy" data-link-format="mm-dd-yyyy"  id="range" class="form-control input" name="start_date[]">
                           <ion-label>End date</ion-label>
                           <input  formControlName="answer" type="date" data-date-format="mm-dd-yyyy" data-link-format="mm-dd-yyyy"  id="range" class="form-control input" name="end_date[]">
                           <input type="hidden" class="form-control" name="answer[]" id="" aria-describedby="helpId" placeholder="" value="4">
 
                        </div>
                        <div class="form-group" *ngIf="field.field_type_guid==5">
                           <ion-label>{{field.field_name}}</ion-label>
                           <input formControlName="answer" type="number" class="form-control input" name="answer[]">
                        </div>
                     </div>
                     
 
                     <button  id="{{topicDataa.guid}}" class="bsr_report_btn btn btn-defaultt mt-3 temp{{len}}" (click)="onSubmit2(topicDataa.guid)" *ngIf="len == 1">
                        Submit</button>
               </div>
 
             </div>
       
      </form>
   </div>
 </ion-content>