<ion-content>
    <ion-toolbar class="toolbar" >
       <ion-title class="bsr-titleCenter">Login History</ion-title>
        <ion-buttons slot="start">
            <button (click)="back()"class="bsr_backbtn_background">
                <ion-icon class="bsr_addtmp_backicon back"  name="arrow-back"></ion-icon> 
             </button>
        </ion-buttons>
     </ion-toolbar>

<div class="main-content login-history">
    <div >

<!-- <script src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous"></script> -->
<table class="table">
    <thead>
        <tr>
            <th><b>USER</b></th>
            <th><b>WHEN</b></th>
            <th><b>SUCCESSFUL ATTEMPT</b></th>
            <!-- <th><b>MORE</b></th> -->
        </tr>
    </thead>
        <tbody  *ngFor =" let history of loginHistoy"   >
             <tr><!--(click)="hideme[history.id]=!hideme[history.id]" -->
                <td scope="row"><label for="child1"></label>{{history.user_id}}</td>
                <td scope="row">{{history.loginDTM}}</td>
                <td>{{history.success_attempt}}</td>
                <!-- <td data-inline="false" span class="iconify bsr-loginhistory_morebtn" data-icon="bx:bx-chevron-down"  >More</td> -->
                <!-- <td>0</td> -->
            </tr>
            
            <!-- <tr  [hidden]="!hideme[history.id]" >
            
                <td class="" colspan="3">
                    <p class="row"><span class="head col-sm-4 col-6 textJustify" ><b>BROWSER :</b></span><span class="detail linespace">{{history.browser}}</span></p>
                    <p class="row"><span class="head col-sm-4 col-6 textJustify"><b>PLATFORM:</b></span><span class="detail linespace">{{history.plateform}}</span></p>
                    <p class="row"><span class="head col-sm-4 col-6 textJustify" ><b>DEVICE TYPE:</b></span><span class="detail linespace">{{history.device_type}}</span></p>
                    <p class="row"><span class="head col-sm-4 col-6 textJustify" ><b>IP ADDRESS:</b></span><span class="detail linespace">{{history.ip_address}}</span></p>
                </td>
              
            </tr> -->
         
        </tbody>
    </table>

    <!-- <div class="main-footer">
        <button type="button" class="btn btn-default">Back</button>
    </div> -->
    </div>
    </div>
</ion-content>