
    
 table {
    border: 1px solid black;
  border-collapse: collapse;
  margin: 0;
  padding: 0;
  width: 100%;
  table-layout: fixed;
    line-height: 1.25;
    
  }

  table tr {
    background-color: #f8f8f8;
    border: 1px solid #ddd;
    padding: .35em;
  }
  
  // table th,
  table td {
    padding: .625em;
    text-align: center;
    font-size: .70em;
  }
  table th {
    // font-size: .85em;
    // letter-spacing: .1em;
    padding: .625em;
    text-align: center;
    font-size: 12px !important;
    text-transform: uppercase;
  }
  table {
    border: 1px solid black;
  border-collapse: collapse;
  margin: 0;
  padding: 0;
  width: 100%;
  // table-layout: fixed;
    line-height: 1.25;
    
  }

  table tr {
    background-color: #f8f8f8;
    border: 1px solid #ddd;
    padding: .35em;
  }
  
  
  table td {
    padding: .625em;
    text-align: center;
    font-size: 12px;
  }
  // table th {
  //   font-size: .85em;
  //   letter-spacing: .1em;
  //   text-transform: uppercase;
  // }


.table thead th {
    vertical-align: middle;
}
/*  our css */
// .more{
//    color: red;
//  }
//  th{
//          font: normal normal 600 15px/19px Montserrat;
//         letter-spacing: 0px;
//         color: #111111;
//         opacity: 1;
//      }
      
            //  th, td { border: none; text-align: center; padding: 0px; position: relative; }
    



//  input[type=checkbox] { display: none; } 
// .toggle{display:none;}
// .toggle.active {

    // display: table-row; 
    //  width: calc(50% - 10px);
// }


 /* th, td { border: solid 1px #000; text-align: left; padding: 5px; position: relative; } */
