<ion-header [translucent]="true">
  <ion-toolbar class="toolbar">
    <ion-title class="bsr-titleCenter">Edit {{editableTemplateName}}</ion-title>
    <ion-buttons slot="start">
      <button (click)="back()" class="bsr_backbtn_background">
        <ion-icon class="bsr_addtmp_backicon back" name="arrow-back"></ion-icon>
      </button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>


  <div class="container">
    <div class="form mt-5">
      <form action="" class="form-horozontal" [formGroup]="TemplateFG" (ngSubmit)="onSubmit1()">
         <ion-list class="list">
            <ion-item >
              <div class="container">
                <label class="topicModal" for="chbAll">Select All</label>
                <input type="checkbox" (change)="onSelectAll($event)" class="largeCheckbox float_left"  [(ngModel)]="isSelectAllChecked" [ngModelOptions]="{standalone: true}" id="chbAll">
               </div>
            </ion-item>
          
            <ion-item class="item-divider">Rate</ion-item>
            <ion-item *ngFor="let items of _rateSpecific">
              <div class="container">
               <label class="topicModal" for="{{items.topic_guid}}">{{items.topic_name}}</label>
               <input type="checkbox" (change)="chbClickEvent($event)" class="largeCheckbox float_left" value="{{items.topic_guid}}" [(ngModel)]="items.isChecked" [ngModelOptions]="{standalone: true}" id="{{items.topic_guid}}">
              </div>
            </ion-item>

            <ion-item class="item-divider">Military General</ion-item>
            <ion-item *ngFor="let items of _militaryGeneral">
              <div class="container">
                <label class="topicModal" for="{{items.topic_guid}}">{{items.topic_name}}</label>
                <input type="checkbox" (change)="chbClickEvent($event)" class="largeCheckbox float_left" value="{{items.topic_guid}}" [(ngModel)]="items.isChecked" [ngModelOptions]="{standalone: true}" id="{{items.topic_guid}}">
               </div>
            </ion-item>

            <ion-item class="item-divider">Both</ion-item>
            <ion-item *ngFor="let items of _Both">
              <div class="container">
                <label class="topicModal" for="{{items.topic_guid}}">{{items.topic_name}}</label>
                <input type="checkbox" (change)="chbClickEvent($event)" class="largeCheckbox float_left" value="{{items.topic_guid}}" [(ngModel)]="items.isChecked" [ngModelOptions]="{standalone: true}" id="{{items.topic_guid}}">
               </div>
            </ion-item>
         </ion-list>
      </form>
      <ion-item>
        <ion-label ><p class="bsr_selectTopic_link account" >
          <a [routerLink]="['/create-topic']">Didn't Find Your Topic?</a></p>
        </ion-label>
      </ion-item>
    </div>
  </div>
  
</ion-content>
<ion-footer class="footerdf" *ngIf="buttonActive">
  <div class="form-group col-md-12" >
    <button type="button" (click)="onSubmit1()" class="btnw btn-defaultt mt-3">Save</button>
  </div>
</ion-footer>
<ion-footer class="footer" *ngIf="!buttonActive"></ion-footer>