.ion-lable{
    font-size: 15px;
    // margin-left: 7px;
    vertical-align: text-top;
    color: #000;
  }
  .item-divider
  {
      font-weight: bolder;
  }
  .container{
      
      margin-top: 0 !important; 
      margin-bottom: 0 !important; 
      padding-right: 0 !important; 
      padding-left: 0 !important; 
  }
//   .label-select-all{
//     margin-left: 7px;
//   }

.center{
    text-align: center;
}

#ion-item{
 color: #c4c9ca;    
}
.btn{
    background-color: #56acee;
    color: whitesmoke;
    margin-top: 0px !important;
}
.btnw{
    width: 100%;
    margin-top: 6px !important;
    margin-left:unset;
}
.bold{
    font-weight: bold !important;
}

#loading{
position: absolute;
left: 50%;
top: 50%;
z-index: 1;
width: 150px;
height: 150px;
margin: -75px 0 0 -75px;
border: 16px solid #f3f3f3;
border-radius: 50%;
border-top: 16px solid #3498db;
width: 120px;
height: 120px;
animation: spin 2s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.loader {
    font-size: 10px;
    margin: 0px 20px;
    text-indent: -9999em;
    width: 2.3em;
    height: 2.3em;
    border-radius: 50%;
    background: #ffffff;
    background: -moz-linear-gradient(left, #ffffff 10%, rgba(255, 255, 255, 0) 42%);
    background: -webkit-linear-gradient(left, #ffffff 10%, rgba(255, 255, 255, 0) 42%);
    background: -o-linear-gradient(left, #ffffff 10%, rgba(255, 255, 255, 0) 42%);
    background: -ms-linear-gradient(left, #ffffff 10%, rgba(255, 255, 255, 0) 42%);
    background: linear-gradient(to right, #ffffff 10%, rgba(255, 255, 255, 0) 42%);
    position: relative;
    -webkit-animation: load3 1.4s infinite linear;
    animation: load3 1.4s infinite linear;
    -webkit-transform: translateZ(0);
    -ms-transform: translateZ(0);
    transform: translateZ(0);
  }
  .loader:before {
    width: 50%;
    height: 50%;
    background: #ffffff;
    border-radius: 100% 0 0 0;
    position: absolute;
    top: 0;
    left: 0;
    content: '';
  }
  .loader:after {
    background: #007bff;
    width: 75%;
    height: 75%;
    border-radius: 50%;
    content: '';
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
  }
  @-webkit-keyframes load3 {
    0% {
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    100% {
      -webkit-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }
  @keyframes load3 {
    0% {
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    100% {
      -webkit-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }
  .footerdf{
    color: #ffffff !important;
    text-align: center;
    height: 8%;
    background: unset;
  }
  .mt-5 {
    margin-top: 10px !important;
}
.bsr_backbtn_background{
  background: none;
}
.topicModal {
  padding-left: 10px;
  font-size: 15px;
}