<ion-header>
  <ion-toolbar class="toolbar">
    <ion-title class="bsr-titleCenter">Update Profile</ion-title>
      <ion-buttons slot="start">
        <button (click)="back()" class="bsr_backbtn_background">
          <ion-icon class="bsr_addtmp_backicon back" name="arrow-back"></ion-icon> 
       </button>      
      </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
   
 
  <div class="container ">
      <div class="form ">
          <form action="" class="form-horozontal" [formGroup]="updateInfo" (ngSubmit)="onSubmit()">
            <!-- <h2 class="sub-title"><a routerLink="/dashboard" >Dashboard</a> <span class="float-right"><a routerLink="/login" >Logout</a></span></h2> -->
            <div class="form-group ">
              <ion-label >First Name</ion-label>
              <input  formControlName="fname"  [ngClass]="{ 'is-invalid': submitted && b8.fname.errors }" 
              type="text" class="form-control input" name="" id="" aria-describedby="helpId">
              <div *ngIf="submitted && b8.fname.errors" class="invalid-feedback">
                <div *ngIf="b8.fname.errors.required"> Name is required</div>
               </div>
               </div>
               <div class="form-group ">
                <ion-label >Last Name</ion-label>
                <input formControlName="lname"  [ngClass]="{ 'is-invalid': submitted && b8.lname.errors }" 
                type="text" class="form-control input" name="" id="" aria-describedby="helpId">
                <div *ngIf="submitted && b8.lname.errors" class="invalid-feedback">
                  <div *ngIf="b8.lname.errors.required"> Last name is required</div>
                 </div>
                 </div>
                 <div class="form-group ">
                  <ion-label >email</ion-label>
                  <input formControlName="email" [readonly]="true"  [ngClass]="{ 'is-invalid': submitted && b8.email.errors }" 
                  type="text" class="form-control input" name="" id="" aria-describedby="helpId">
                  <div *ngIf="submitted && b8.email.errors" class="invalid-feedback">
                    <div *ngIf="b8.email.errors.required"> email is required</div>
                   </div>
                   </div>
                   <div class="form-group ">
                    <ion-label >Phone</ion-label>
                    <input formControlName="phone"  [ngClass]="{ 'is-invalid': submitted && b8.phone.errors }" 
                    type="text" class="form-control input" name="" id="" aria-describedby="helpId">
                    <div *ngIf="submitted && b8.phone.errors" class="invalid-feedback">
                      <div *ngIf="b8.phone.errors.required"> phone is required</div>
                     </div>
                     </div>
              <div>       
                <button expand="full" type="submit" class="btn btn-defaultt mt-3">Update</button> 
                </div>
          </form>
  </div>
</div>

 
 </ion-content>
