table {
    border: 1px solid black;
  border-collapse: collapse;
  margin: 0;
  padding: 0;
  width: 100%;
  table-layout: fixed;
    line-height: 1.25;
    
  }

  table tr {
    background-color: #f8f8f8;
    border: 1px solid #ddd;
    padding: .35em;
  }
  table th{
    height: 35px;
    background-color:#7474711f;
  }
  table th,
  table td {
    padding: .625em;
    text-align: center;
    font-size: .70em;
  }
  table th {
    // font-size: .85em;
    // letter-spacing: .1em;
    font-size: 12px;
    font-weight: bolder;
    text-transform: uppercase;
  }
.bsr_report_download{
  font-size: 15px;
  color: #FFF !important;
}
.bsr_report_download2{
  font-size: 15px;
  margin-left: 7px;
  color: #FFF !important;
}
.btn-primary{
  padding: 0px 6px 0px 6px;
  background-color: #1DA1F2;
}

.btn-warning{
  padding: 0px 6px 0px 6px;
}