<ion-header [translucent]="true">
    <ion-toolbar class="toolbar">
       <ion-title class="bsr-titleCenter">Braggsheet Report</ion-title>
       <ion-buttons slot="start">
         <button (click)="back()" class="bsr_backbtn_background">
          <ion-icon class="bsr_addtmp_backicon back" name="arrow-back"></ion-icon> 
       </button>
   </ion-buttons>
    </ion-toolbar>
  </ion-header>
<ion-content>
<table>
    <thead>
        <tr >
            <th>title</th>
            <th>start Date</th>
            <th>End Date</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody *ngFor="let item of activeReport; let i = index">
        <tr >
            <td class="firstTH"> {{item.title}}</td>
            <td > {{item.start_date}}</td>
            <td > {{item.end_date}}</td>
            <td (click)="clickedIndex == i? clickedIndex = null : clickedIndex = i" class="iconify bsr-loginhistory_morebtn" data-icon="bx:bx-chevron-down"  ><button class="btn btn-sm btn-primary">More <ion-icon name="arrow-down-circle"></ion-icon></button> </td>
        </tr>
        
        <tr [hidden]="clickedIndex != i" >
            <td class="" colspan="4">
                
                <a class="bsr_report_download btn btn-sm btn-primary" (click)="download(item.file_name)"> <ion-icon name="download"></ion-icon> Download</a>
                <a class="bsr_report_download2  btn btn-sm btn-primary" (click)="funReportArchive(item.guid)"><ion-icon name="archive"></ion-icon> Archive</a>
            </td>
          
        </tr>
    </tbody>
</table>
 
</ion-content>
<ion-footer class="footer">
    
</ion-footer>
