<ion-header>
  <ion-toolbar class="toolbar">
    <ion-title>Primary Job</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="container ">
    <div class="form ">
        <form action="" class="form-horozontal" [formGroup]="primaryJob" (ngSubmit)="onSubmit()">
          <div class="form-group ">
            <ion-label >What is your Billet?</ion-label>
            <input formControlName="name"  [ngClass]="{ 'is-invalid': submitted && b3.billet.errors }" 
            type="text" class="form-control input" name="" id="" aria-describedby="helpId">
            <div *ngIf="submitted && b3.billet.errors" class="invalid-feedback">
              <div *ngIf="b3.billet.errors.required"> This field is required</div>
             </div>
             </div>
                  <div class="col-md-6 display">
                    <input style="width: 58%;" (click)="onSubmit()"  type="button" class="btn btn-sm button-submit" name="Save" value="Save & Add More" />  
                    <input [routerLink]="['/collecteral-duty']" type="button" (click)="onSubmit()"  class="btn button-submit" style="position: absolute;margin-left: 6%; width: 36%;" name="Save" value="Save" />  
                  </div>
                
                  <div class="col-md-6 display">
                  </div>
               
                  <div class="row row-setting">
    
                    <div class="col-md-12 command-list">
                      <label class="lable-title command-list-item"> Primary Job 1</label>
                       
                    </div>
            
                    <div class="col-md-12 command-list">
                      <label class="lable-title command-list-item">Primary Job 2</label>
                     
                    </div>
                </div>     
        </form>
</div>
</div>

</ion-content>
<ion-footer class="footer">
    
</ion-footer>