<ion-header [translucent]="true">
  <ion-toolbar class="toolbar">
 <ion-title >Daily Update</ion-title>
      <ion-buttons slot="start">
          <ion-menu-button menu="main-menu"></ion-menu-button>
      </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  

  <!-- <div *ngFor="let product of products1">
    <div>
    <label> {{ product.field_name }} </label>
    </div>
    <div>
    <input type= "{{product.field_type }}">
    </div>
    </div> -->
    <h5 class="control-label col-sm-5" *ngFor="let templateDataa of templateData">{{templateDataa.bst_name}}</h5>
    <ion-slides [options]="slideOpts"  #mySlider>
      <ion-slide *ngFor="let topicDataa of topicData">
    
    <div class="container ">
      <div class="form ">
    <form  class="form-horozontal" [formGroup]="FillTemplate" (ngSubmit)="onSubmit()">
      
    <p style="padding-left: 16px;font-weight: bold" >{{topicDataa.topic_name}}</p>
  <div *ngFor="let field of topicDataa.fields">
    <!-- <label>{{field.field_type_guid}}</label> -->
   
    <div  class="form-group" *ngIf="field.field_type_guid==2">
      <ion-label >{{field.field_name}}</ion-label>
      <input formControlName="text" type="text" class="form-control input" name="text" id="text" aria-describedby="helpId">
    </div>
    <div class="form-group" *ngIf="field.field_type_guid==3" >
      <ion-label >{{field.field_name}}</ion-label>         
      <input formControlName="datee" type="date" [min]="startDate" id="datee" class="form-control input" id="datee" name="datee">
      </div>
      <div >   
         <div class="form-group" *ngIf="field.field_type_guid==1">
        <ion-label class="control-label col-sm-5">{{field.field_name}}</ion-label>
        <div class="col-sm-12 inputsm">
          <select formControlName="rate"  id="rate" name="rate" class="form-control input"  okText="Okay" cancelText="Dismiss">
            <option *ngFor="let list of field.options" [value]="list.guid">{{list.valueoption}}</option>
            <!-- <option  value="2">List2</option>
            <option  value="3">List3</option> -->
            </select>
        </div>
      </div>
    </div>

      <div class="form-group " *ngIf="field.field_type_guid== 4 ">
        <ion-label >{{field.field_name}}</ion-label>         
        <input formControlName="range" type="date" [min]="startDate" id="range" class="form-control input" id="range" name="range">
        </div>
      </div> 
        <!-- <div>
          <button expand="full" type="submit"  class="btn btn-default1 mt-3">Submit</button>              
          </div> -->
  </form>
    </div>
    </div>
  </ion-slide>
  </ion-slides>
  <center>
  <ion-button (click)="prev()" >Prev</ion-button>
  <ion-button (click)="next()">Next</ion-button>
</center>
</ion-content> 
