
<ion-content class="background" [fullscreen]="true"> 
  <br>
  <div >
    <img class="logoimg" src="assets/images/icon.png" alt="image"/>
  </div>
  <div class="col-md-6 container">
    <div class="form ">
      <form action="" class="form-horozontal" [formGroup]="login" (ngSubmit)="onSubmit()">
      
        <div class="form-group">
          <ion-label position="floating">Username</ion-label><br>
              <ion-input  formControlName="username" 
              [ngClass]="{ 'is-invalid': submitted && b6.username.errors }" 
            type="text" class="form-control" placeholder="Enter Username"></ion-input>
            <div *ngIf="submitted && b6.username.errors" class="invalid-feedback">
            <div *ngIf="b6.username.errors.required">Username required</div>
          
          </div>
        </div>
        <div class="form-group">
          <ion-label position="floating">Password</ion-label><br>
              <ion-input  formControlName="pass" 
              [ngClass]="{ 'is-invalid': submitted && b6.pass.errors }" 
            type="password" class="form-control" placeholder="Enter Password"></ion-input>
            <div *ngIf="submitted && b6.pass.errors" class="invalid-feedback">
            <div *ngIf="b6.pass.errors.required">Password  required</div>
          
          </div>
        </div>
        <p> <a  class="forgot" [routerLink]="['/forgot-password']">Forgot password?</a></p>
        <button type="submit"  class="btn-lg btn-block">Login</button>
      </form>
  </div>
</div>
  <!-- <ion-label ><p class="account" style="color: #fff;"[routerLink]="['/registration']" >do not have account?</p></ion-label> -->
  </ion-content>
  
  <!-- Comment below code from gaurav -->
  <!-- <ion-footer class="bsr_login_footer" >
    <a [routerLink]="['/registration']"> Register</a>
  </ion-footer> -->
