<ion-header>
  <ion-toolbar class="toolbar">
    <ion-title>education</ion-title>
      <ion-buttons slot="start">
          <ion-menu-button menu="main-menu"></ion-menu-button>
      </ion-buttons>
  </ion-toolbar>
</ion-header>
 
<ion-content>
  <div class="container ">
    <div class="form ">
        <form action="" class="form-horozontal" [formGroup]="Education" (ngSubmit)="onSubmit()">
          <div class="form-group ">
            <ion-label >College</ion-label>
            <input formControlName="college"  [ngClass]="{ 'is-invalid': submitted && b5.college.errors }" 
            type="text" class="form-control input" name="" id="" aria-describedby="helpId">
            <div *ngIf="submitted && b5.college.errors" class="invalid-feedback">
              <div *ngIf="b5.college.errors.required"> College is required</div>
             </div>
             </div>
             <div class="form-group ">
              <ion-label >Degree</ion-label>
              <input formControlName="degree"  [ngClass]="{ 'is-invalid': submitted && b5.degree.errors }" 
              type="text" class="form-control input" name="" id="" aria-describedby="helpId">
              <div *ngIf="submitted && b5.degree.errors" class="invalid-feedback">
                <div *ngIf="b5.degree.errors.required"> Degree is required</div>
               </div>
               </div>

               <div class="form-group ">
               <ion-label>Graduation Status</ion-label>
                 <select id="rate" name="rate" [ngClass]="{ 'is-invalid': submitted && b5.graduation.errors }" 
                    formControlName="graduation" class="form-control input" >
                      <option value=""></option>
                      <option value="1">Persuing</option>
                      <option value="2-5">Completed</option>
                    </select>
                    <div *ngIf="submitted && b5.graduation.errors" class="invalid-feedback">
                      <div *ngIf="b5.graduation.errors.required">Graduation status is required</div>
                     </div>
               </div>

               <div class="form-group ">
                <ion-label >Year</ion-label>
                <input formControlName="year"  [ngClass]="{ 'is-invalid': submitted && b5.year.errors }" 
                type="text" class="form-control input" name="" id="" aria-describedby="helpId">
                <div *ngIf="submitted && b5.year.errors" class="invalid-feedback">
                  <div *ngIf="b5.year.errors.required"> Year is required</div>
                 </div>
                 </div>

                  <div class="col-md-6 display">
                    <input style="width: 58%;" (click)="onSubmit()"  type="button" class="btn btn-sm button-submit" name="Save" value="Save & Add More" />  
                    <input [routerLink]="['/dashboard']" type="button" (click)="onSubmit()"  class="btn button-submit" style="position: absolute;margin-left: 6%; width: 36%;" name="Save" value="Save" />  
                  </div>
                
                  <div class="col-md-6 display">
                  </div>
               
                  <div class="row row-setting">
    
                    <div class="col-md-12 command-list">
                      <label class="lable-title command-list-item"> College 1</label><br>
                      <label class="lable-title command-list-item"> Degree 1</label><br>
                      <label class="lable-title command-list-item"> Graduation Status</label><br>
                    </div>
            
                     
                </div>     
        </form>
</div>
</div>

</ion-content>
<ion-footer class="footer">
    
</ion-footer>
