<ion-app>
  <ion-menu menuId="main-menu" content-id="main">
     <ion-header>
       <ion-toolbar>
         <ion-title>BSR </ion-title>
       </ion-toolbar>
     </ion-header>
     <ion-content>
       <ion-list>
         <ion-menu-toggle auto-hide>
         <ion-item *ngIf="!token" >
          <ion-icon slot="start" name="person-circle"></ion-icon>
          <ion-button color="primary" (click)="Login()">Logout</ion-button>
           <ion-label>Login</ion-label>
         </ion-item>
         <ion-item *ngIf="token">
          <ion-icon slot="start" name="exit"></ion-icon>
           <ion-button color="primary" (click)="Logout()">Logout</ion-button>
         </ion-item>
      </ion-menu-toggle>
       </ion-list>
     </ion-content>
   </ion-menu>
  <ion-router-outlet id="main"></ion-router-outlet>
  <ion-tabs  *ngIf="token">

    <ion-tab-bar class="tab_hide" slot="bottom">
      <ion-tab-button tab="user-profile">
        <ion-icon name="person"></ion-icon>
        <ion-label>Profile</ion-label>
      </ion-tab-button>

      <ion-tab-button tab="dashboard">
        <ion-icon name="grid"></ion-icon>
        <ion-label>Dashboard</ion-label>
      </ion-tab-button>
  
      <ion-tab-button tab="daily-update">
        <ion-icon name="document-text"></ion-icon>
        <ion-label>Daily Update</ion-label>
      </ion-tab-button>
    </ion-tab-bar>
  
  </ion-tabs>
   
</ion-app>
