 <ion-header [translucent]="true">
  <ion-toolbar class="toolbar">
 <ion-title  class="bsr-titleCenter" >Create Template</ion-title>
      <ion-buttons slot="start">
          <button (click)="back()" class="bsr_backbtn_background" style="background-color: unset;">
            <ion-icon class="bsr_addtmp_backicon back" name="arrow-back"></ion-icon> 
         </button>
      </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <div class="container" *ngIf="activeMembership; else elseBlock">
    <div class="form mt-5">
       <form action="" class="form-horozontal" [formGroup]="addTemplate" (ngSubmit)="createTemplate()">
       <div class="form-group ">
          <ion-label >Name</ion-label>
          <div class="col-sm-12 inputsm">
             <input formControlName="name"  [ngClass]="{ 'is-invalid': submitted && f3.name.errors }" 
                type="text" class="form-control input" name="" id="" aria-describedby="helpId">
             <div *ngIf="submitted && f3.name.errors" class="invalid-feedback">
                <div *ngIf="f3.name.errors.required"> Name is required</div>
             </div>
          </div>
       </div>
       
       <div >
          <button expand="full" type="submit"  class="btn btn-defaultt mt-3 margin">Save</button> 
       </div>
       </form>
    </div>
   </div>
   
      <ng-template #elseBlock>
         <div class="container membershipContainer">
            <div  class="form mt-5 ">
               <form action="" class="form-horozontal" [formGroup]="addTemplate" style="opacity: .5;" >
                  <div class="form-group ">
                     <ion-label style="color: black;" >Name</ion-label>
                     <div class="col-sm-12 inputsm">
                        <input formControlName="name"  [ngClass]="{ 'is-invalid': submitted && f3.name.errors }" 
                           type="text" class="form-control input" name="" id="" aria-describedby="helpId" readonly>
                        <div *ngIf="submitted && f3.name.errors" class="invalid-feedback">
                           <div *ngIf="f3.name.errors.required"> Name is required</div>
                        </div>
                     </div>
                  </div>
                  <div >
                     <button expand="full" type="button" disabled class="btn btn-defaultt mt-3">Save</button> 
                  </div>
               </form>
               <div id="text"><img src="https://api.iconify.design/et-lock.svg" style="width: 20%;"><br><span style="font-size: 17px;">Buy membership to activate this feature <a href="http://demo.yashaadigital.com/BSR/v4/plans" style="color:#05108c;" >Click here</a> to buy membership</span></div>
            </div>
         </div>
      </ng-template>
   
 
 <!-- <div class="my-overlay" padding >
   <button full >Click me</button>
</div> -->
</ion-content>
<!-- <ion-footer class="footer"> 
</ion-footer> -->
