<ion-header>
  <ion-toolbar class="toolbar">
    <ion-title class="bsr-titleCenter">User Profiles</ion-title>
      <ion-buttons slot="start">
        <button (click)="back()" class="bsr_backbtn_background">
          <ion-icon class="bsr_addtmp_backicon back" name="arrow-back"></ion-icon> 
       </button>      
      </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="background" [fullscreen]="true">
  <!-- <ion-toolbar class="toolbar" >
    <ion-title class="bsr-titleCenter">User Profile</ion-title>
     <ion-buttons slot="start">
         <button (click)="back()" class="bsr_backbtn_background">
             <ion-icon class="bsr_addtmp_backicon back"  name="arrow-back"></ion-icon> 
          </button>
     </ion-buttons>
  </ion-toolbar> -->
  
  <div class="container">
   <form class="form-horozontal"  >
    <!-- <h2 class="sub-title"><a routerLink="/dashboard" >Dashboard</a> <span class="float-right"><a (click)="logout()" style="color: skyblue;">Logout</a></span></h2> -->
   <div class="forms-group">
    <!-- <h2  ><b>Hello</b>&nbsp;<b>{{Username}}</b></h2> -->
     <div *ngFor="let data of userData">
      <ion-label for="">Username</ion-label>
      <input type="text" class="form-control input"  [readonly]="true" value="{{data.user_id}}">
      <ion-label for="">First Name</ion-label>
      <input type="text" class="form-control input"  [readonly]="true" value="{{YashaaDecrypt(data.user_first_name)}}">
      <ion-label for="">Last Name</ion-label>
      <input type="text" class="form-control input" [readonly]="true" value="{{YashaaDecrypt(data.user_last_name)}}">
      <ion-label for="">Email Address</ion-label>
      <input type="text" class="form-control input" [readonly]="true" value="{{data.email}}">
      <ion-label for="">Phone Number</ion-label>
      <input type="text" class="form-control input" [readonly]="true" value="{{YashaaDecrypt(data.phone)}}">
    </div>
   
   </div> 
   <button (click)="viewProfile()" class="bsr_profile_btn btn btn-default mt-3"  >View Professional Profile</button>
   <button  (click)="updateProfile()" class="bsr_profile_btn btn btn-default mt-3" >update Professional Profile</button>
   <button [routerLink]="['/update-basic-info']" class="bsr_profile_btn btn btn-default mt-3" >Update Basic Profile</button>
   <button [routerLink]="['/membership-history']" class="bsr_profile_btn btn btn-default mt-3" >Membership History</button>
  </form>
  </div>
  </ion-content>
