<ion-header [translucent]="true">
  <ion-toolbar class="toolbar">
 <ion-title >create Topic</ion-title>
 <ion-buttons slot="start">
   <button (click)="back()" style="background-color:#1DA1F2">
     <ion-icon class="back" style="color: #fff" name="arrow-back"></ion-icon> 
  </button>
 </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <div class="container " *ngIf="activeMembership; else elseBlock">
    <div class="form ">
       <form action="" class="form-horozontal" [formGroup]="cTopic" (ngSubmit)="onSubmit1()">
       <div class="form-group ">
          <ion-label >Template</ion-label>
          <input formControlName="templatename" [readonly]="true" type="text" class="form-control input" name="" id="" aria-describedby="helpId">
       </div>
       <div class="form-group ">
          <ion-label >Name</ion-label>
          <input formControlName="name"  [ngClass]="{ 'is-invalid': submitted && b8.name.errors }" 
             type="text" class="form-control input" name="" id="" aria-describedby="helpId">
          <div *ngIf="submitted && b8.name.errors" class="invalid-feedback">
             <div *ngIf="b8.name.errors.required"> Name is required</div>
          </div>
       </div>
       <div class="form-group">
          <ion-label class="control-label">Where do you want this to appear on your report?</ion-label>
          <div class="col-sm-12 inputsm">
             <select  id="rate" name="rate" [ngClass]="{ 'is-invalid': submitted && b8.topictype.errors }" 
                formControlName="topictype" class="form-control input type"  okText="Okay" cancelText="Dismiss">
                <option value="">select</option>
             <option *ngFor="let topictype of topictypes" [value]="topictype.guid">{{topictype.topic_type_name}}</option>
             </select>
             <div *ngIf="submitted && b8.topictype.errors" class="invalid-feedback">
                <div *ngIf="b8.topictype.errors.required">Topic Type is required</div>
             </div>
          </div>
       </div>
       <div  >
          <div class="bsr-crtTopic_radio col-12">
             <div class="form-check">
                <div class="row">
                   <input type="radio" formControlName="level" class="form-check-input" name="level" id="MilitaryGeneral" value="military_genral">
                   <label class="form-check-label bsr_CreateTopic_radio" for="MilitaryGeneral">Military General</label>
                </div>
             </div>
          </div>
          <div class="col-12">
             <div class="form-check">
                <div class="row">
                   <input type="radio" formControlName="level" class="form-check-input" name="level" id="RateSpecific" value="rate_specific">
                   <label class="form-check-label bsr_CreateTopic_radio" for="RateSpecific">Rate Specific</label>
                </div>
             </div>
          </div>
          <div class="col-12">
             <div class="form-check">
                <div class="row">
                   <input type="radio" formControlName="level" class="form-check-input" name="level" id="Both" value="Both">
                   <label class="form-check-label bsr_CreateTopic_radio" for="Both">Both</label>
                </div>
             </div>
          </div>
       </div>
       <div>       
          <button expand="full" type="submit" class="btn btn-defaultt mt-3">Save</button> 
       </div>
       </form>
    </div>
 </div>

 <ng-template #elseBlock>
   <div class="container membershipContainer">
      <div class="form " style="opacity: .5;">
         <form action="" class="form-horozontal" [formGroup]="cTopic" >
         <div class="form-group ">
            <ion-label >Template</ion-label>
            <input formControlName="templatename" [readonly]="true" type="text" class="form-control input" name="" id="" aria-describedby="helpId">
         </div>
         <div class="form-group ">
            <ion-label >Name</ion-label>
            <input formControlName="name"  [ngClass]="{ 'is-invalid': submitted && b8.name.errors }" 
               type="text" class="form-control input" name="" id="" aria-describedby="helpId" readonly>
            <div *ngIf="submitted && b8.name.errors" class="invalid-feedback">
               <div *ngIf="b8.name.errors.required"> Name is required</div>
            </div>
         </div>
         <div class="form-group">
            <ion-label class="control-label">Where do you want it to appear on your report?</ion-label>
            <div class="col-sm-12 inputsm">
               <select  id="rate" name="rate" [ngClass]="{ 'is-invalid': submitted && b8.topictype.errors }" 
                   class="form-control input type"  okText="Okay" cancelText="Dismiss" disabled>
                  <option value="">select</option>
               </select>
               <div *ngIf="submitted && b8.topictype.errors" class="invalid-feedback">
                  <div *ngIf="b8.topictype.errors.required">Topic Type is required</div>
               </div>
            </div>
         </div>
         <div  >
            <div class="bsr-crtTopic_radio col-12">
               <div class="form-check">
                  <div class="row">
                     <input type="radio" class="form-check-input" name="level" id="MilitaryGeneral" value="military_genral" disabled>
                     <label class="form-check-label bsr_CreateTopic_radio" style="color: black;" for="MilitaryGeneral">Military General</label>
                  </div>
               </div>
            </div>
            <div class="col-12">
               <div class="form-check">
                  <div class="row">
                     <input type="radio" class="form-check-input" name="level" id="RateSpecific" value="rate_specific" disabled>
                     <label class="form-check-label bsr_CreateTopic_radio" style="color: black;" for="RateSpecific">Rate Specific</label>
                  </div>
               </div>
            </div>
            <div class="col-12">
               <div class="form-check">
                  <div class="row">
                     <input type="radio" class="form-check-input" name="level" id="Both" value="Both" disabled>
                     <label class="form-check-label bsr_CreateTopic_radio" style="color: black;" for="Both">Both</label>
                  </div>
               </div>
            </div>
         </div>
         <div>       
            <button expand="full" type="button" disabled class="btn btn-defaultt mt-3">Save</button> 
         </div>
         </form>
      </div>
      <div id="text"><img src="https://api.iconify.design/et-lock.svg" style="width: 20%;"><br><span style="font-size: 17px;">Buy membership to activate this feature <a href="http://demo.yashaadigital.com/BSR/v4/plans" style="color:#05108c;" >Click here</a> to buy membership</span></div>
   </div>
 </ng-template>
 </ion-content>
 <!-- <ion-footer class="footer">
</ion-footer> -->
