 
.form-check-label {
    font-size: 16px;
}
.membershipContainer{
    position: fixed;
    width: 100%;
    height: 100%;
    // top: 0;
    left: 0;
    right: 0;
    // bottom: 0;
    background: rgba(0,0,0,0.5);
    z-index: 2;
}
#text{
    position: absolute;
    top: 40%;
    left: 50%;
    // font-size: 20px;
    color: white;
    transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    text-align: center;
  }