  
:host {
    ion-content{
         --background: #002668;
         
    }
    .b::before { 
        content: "\A"; 
        white-space: pre; 
    } 
.toast-scheme
{
    --background:red;
}   
    ion-button{
        --background:white !important;
        .twitter{ 
        --color:#384390;
        }
    }
    ion-toolbar{
        --background:#002668;
        .topnav {
            background-color: #002668;
            overflow: hidden;
        }
    }
    ion-title{
         --color: #ffffff;
         text-transform: uppercase;
         text-align: center;
    }
    ion-footer{
        --background:#ffffff !important;
        color: #002668;
        text-align: center;
    }
    ion-icon{
        color:#002668;
    }
    ion-input{
        color:#002668;
    }
    ion-label{
        color:#002668;
    }
      
    }
     


 
h1{
    text-align: center;
    margin-bottom: 26px;
}
p{
    text-align: center;
}
 
.col-md-6{
    margin-top: 3%;
    background: white;
    color: black;
    padding: 10px;
    padding-top: 45px;
    border-radius: 30px;
    width: 518px;
    height: 787px;
}

 input{
     margin-bottom: 15px;
     background: #dfe3e6;
 }
  
 .forgot{
    text-align: right;
    font-size: 13px;
    margin-left: 268px;
}
.btn-lg{    
    height: 41px;
    line-height: 12px;
    color: #ffffff;
    font-weight: bold;
    font-family: "Arial";
    text-align: center;
    border-radius: 4px;
   background-color: #2699fb;
}

 @media only screen and (max-width: 992px) {
     
    h1{
        font-size: 34px;
    }
    .btn-lg{
        font-size: 13px;
        line-height: 12px;
        color: #ffffff;
        font-weight: bold;
        font-family: "Arial";
        text-align: center;
        height:40px; 
      border-radius: 4px;
    background-color: #2699fb;
        
    }
    .row{
        margin-left: 10px;
        margin-right: 10px;
        margin-top: 30px;
        margin-bottom: 10px;
    }
    .col-md-6{
        margin-top: 6%;
        background: white;
        color: black;
        padding: 10px;
        padding-top: 30px;
        width: 292px;
        height:800px;
        border-radius: 30px;
    
    }
    .forgot{
        text-align: right;
        font-size: 12px;
        margin-left: 161px;
    }
   
    

@media only screen and (min-width: 992px) {
     
    .row{
        margin-top: 122px;
        margin-left: 84px;
        
    }
    
    h1{
         font-size: 50px;
    }
    .col-md-5{
        padding-top: auto;
    }
    p{
        margin-left: 11px;
    }
    .col-md-6{
        padding-left: 60px;
        padding-right: 60px;
        padding-top:25px;
    
        
    }
  
   

}

}