<ion-header [translucent]="true">
  <ion-toolbar>
 <!--   <ion-icon  name="arrow-round-back"></ion-icon> -->
   <!-- <ion-nav-buttons side="left">
     <button name="arrow-round-back" ng-click="goBack()"></button>
 </ion-nav-buttons> -->
 <ion-title >Registration</ion-title>
      <!-- <ion-buttons slot="start">
          <ion-menu-button menu="main-menu"></ion-menu-button>
      </ion-buttons> -->
  </ion-toolbar>
</ion-header>


<ion-content class="background" [fullscreen]="true">   

      <div class="col-md-6 container">
       <form  action="" class="form-horozontal" [formGroup]="registerForm"  (ngSubmit)="onSubmit()">
       
       <div class="form-group">
          <ion-label position="floating">User Name</ion-label>
          <ion-input  formControlName="username"  [ngClass]="{ 'is-invalid': submitted && f.username.errors }"
          type="text" class="form-control" placeholder="Username"></ion-input>
        <div *ngIf="submitted && f.username.errors" class="invalid-feedback">
          <div *ngIf="f.username.errors.required">Username Name is required</div>
      </div>
      </div>
      <br>
      <div class="form-group">
      
          <ion-label>First Name</ion-label>
          <ion-input formControlName="fname"  [ngClass]="{ 'is-invalid': submitted && f.fname.errors }" type="text" class="form-control" placeholder="First Name"></ion-input>
       
        <div *ngIf="submitted && f.fname.errors" class="invalid-feedback">
        <div *ngIf="f.fname.errors.required">First Name is required</div>
      </div>
      </div>
       <br>
      
       <div class="form-group">
       
          <ion-label>Last Name:</ion-label>
          <ion-input formControlName="lname" value="asd" [ngClass]="{ 'is-invalid': submitted && f.lname.errors }" type="text" class="form-control" placeholder="Last Name"></ion-input>
      
        <div *ngIf="submitted && f.lname.errors" class="invalid-feedback">
          <div *ngIf="f.lname.errors.required">Last Name is required</div>
      
      </div> 
      </div>
      <br>
      <div class="form-group">
       
          <ion-label >Email</ion-label>
          <ion-input [ngClass]="{ 'is-invalid': submitted && f.email.errors }" formControlName="email" type="text" class="form-control" placeholder="Email"></ion-input>
        
        <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
          <div *ngIf="f.email.errors.required">Email is required</div>
          <div *ngIf="f.email.errors.email">Email must be a valid email address</div>
      </div>
      </div>
      <br>
      <div class="form-group">
      
      
      <ion-label >Phone</ion-label>
      <ion-input (keypress)="numberOnly($event)"  [ngClass]="{ 'is-invalid': submitted && f.phone.errors }" formControlName="phone" type="text" class="form-control" placeholder="phone" ></ion-input>
  
    <div *ngIf="submitted && f.phone.errors" class="invalid-feedback">
      <div *ngIf="f.phone.errors.required">Phone Number is required</div>
      <div *ngIf="f.phone.errors.pattern">Please, Enter 10 digit Mobile Number.</div>
  </div>
  </div> <br>
  <div class="form-group">
         
           
            <ion-label>Password</ion-label>
            <ion-input formControlName="pwd"  [ngClass]="{ 'is-invalid': submitted && f.pwd.errors }" type="password" class="form-control" placeholder="Password"></ion-input>
         
      
        <div *ngIf="submitted && f.pwd.errors" class="invalid-feedback">
          <div *ngIf="f.pwd.errors.required">Password is required.</div>
        <div *ngIf="f.pwd.errors.minlength">Password must be at least 4 characters</div>

      </div>
      <!-- <div *ngIf="submitted && f.pwd.errors" class="invalid-feedback">
        <div *ngIf="f.pwd.errors.minLength">Password must be at least 4 characters</div>
    </div> -->
      </div>
      <br>
      
      <div class="form-group">
        
          
          <ion-label>Confirm Password</ion-label>
          <ion-input formControlName="cpwd" confirmValidator = "pwd" [ngClass]="{ 'is-invalid': submitted && f.cpwd.errors }" type="password" class="form-control" placeholder="Confirm Password"></ion-input>
        
         
        <div *ngIf="submitted  && f.cpwd.errors" class="invalid-feedback">
          <div *ngIf="f.cpwd.errors.required">Confirm Password Required</div>
        <div *ngIf="f.cpwd.errors?.notEquals && !f.cpwd.errors?.required">password not matched</div>

      </div>
      <!-- <div *ngIf="f.cpwd.touched && f.cpwd.errors"  class="invalid-feedback">
        <div *ngIf="f.cpwd.touched && f.cpwd.errors?.notEquals && !f.cpwd.errors?.required">password not matched</div>
    </div> -->
    </div>
    <br>
      
       
      <button type="submit" class=" btn-lg btn-block">Register</button> <!-- here i relace login as register -->
      </form>
      </div>
       <ion-label ><p class="bsr_registration_acc" >Already have an account?</p></ion-label>

    </ion-content>

    <ion-footer class="bsr_login_footer">
        <a [routerLink]="['/login']"> Login</a>
     </ion-footer>
