ion-button{
    --background:white !important;
    opacity: 0.1;
}
table {
    border-collapse: collapse;
    text-align: center;
    margin-left: 8%;
  }
  
  .container {
    margin-top: 20px;
    margin-bottom: 20px;
    padding-right: 30px;
    padding-left: 30px;
}

 

@media only screen and (min-width: 768px) {
  .col-md-6 {
    flex: 0 0 50%;
    max-width: 100%;
  }
  .dist{
    width: 20%;
    text-align: center;
  }
}