<ion-header>
  <ion-toolbar class="toolbar">
    <ion-title>create Fields</ion-title>
      <!-- <ion-buttons slot="start">
        <button (click)="back()" style="background-color:#1DA1F2">
          <ion-icon class="back" style="color: #fff" name="arrow-back"></ion-icon> 
       </button>
      </ion-buttons> -->
  </ion-toolbar>
</ion-header>
 
<ion-content>
  <div class="container ">
    <div class="form ">
        <form action="" id='fieldsForm' class="form-horozontal" [formGroup]="CreateFields">
          <div class="form-group">
            <ion-label>Selected Topic</ion-label>
            <input formControlName="topicname" [readonly]="true" type="text" class="form-control input" name="topicname" id="topicname" aria-describedby="helpId">
             </div> 
             </form>
             <form action="" id='fieldsForm' class="form-horozontal" [formGroup]="CreateFields" (ngSubmit)="onSubmit()">
          <div class="form-group ">
            <ion-label >Field Name</ion-label>
            <input formControlName="fieldname"  [ngClass]="{ 'is-invalid': b7.fieldname.touched && b7.fieldname.errors }" 
            type="text" class="form-control input" name="" id="" aria-describedby="helpId">
            <div *ngIf="b7.fieldname.touched && b7.fieldname.errors" class="invalid-feedback">
              <div *ngIf="b7.fieldname.errors.required"> Field name is required</div>
             </div>
             </div>
               <div class="form-group ">
               <ion-label>Field Type</ion-label>
                 <select id="fieldtype" name="fieldtype" [ngClass]="{ 'is-invalid': b7.fieldtype.touched && b7.fieldtype.errors }" 
                    formControlName="fieldtype" class="form-control input type" #fieldtype (change)='onOptionsSelected(fieldtype.value)' >
                      <option value="0">Select Field Types</option>
                      <option *ngFor="let fieldtype of fieldtypes" [value]="fieldtype.guid">{{fieldtype.field_type}}</option> 
                    </select>
                    <div *ngIf="b7.fieldtype.touched && b7.fieldtype.errors" class="invalid-feedback">
                      <div *ngIf="b7.fieldtype.errors.required"> Field type is required</div>
                     </div>
                    </div>
                    
                  <div *ngIf="islist" >
                     
                    <div formArrayName="listData">
                    <div *ngFor="let att of listData.controls; index as i" class="form-group ">
                      <input  [formControlName]="i" placeholder="Enter List Item" class="form-control input">
                      <div class="bsr_addRmv_btn" ><a class="bsr_crtField_rmvBtn" (click)="remove(i)">  <ion-icon name="remove-circle"></ion-icon>Remove</a></div> 
                     <!-- <input [formControlName]="i" [(ngModel)]="anArray[idx].value"  [ngClass]="{ 'is-invalid': submitted && b7.fieldname.errors }"type="text" class="form-control input" name="" id="" aria-describedby="helpId">   -->
                     
                    </div>
                    </div>

                    <div class="row" >
                      <div class="col-6 bsr_addRmv_btn1"  ><a class="bsr_crtField_addBtn" (click)="Add()" >  <ion-icon name="add-circle"></ion-icon>Add</a></div>
                    <!-- <div *ngIf="listData.length > 0" class="col-6" style="text-align: right;"><a style="color: red;" (click)="remove()">  <ion-icon name="remove-circle"></ion-icon>Remove</a></div>  -->
                   </div>
                </div>
                

                  <ion-card *ngIf="data">
                    <ion-item *ngFor="let att of anArray;">
                      <div class="card-title">{{att.value}}</div>
                    </ion-item>
                  </ion-card>
                  <div class="container">
                      
                    <div class="row row-setting">
                      <div class="col-md-6 display">
                        <input (click)="saveMore()" [disabled]="CreateFields.pristine" type="button" class="bsr_createField_saveandmoreBtn btn btn-sm button-submit" name="Save" value="Save & Add More" />  
                        <input type="button" (click)="onSubmit()"  class="bsr_createField_saveBtn btn button-submit"  name="Save" value="Save" />  
                      
                        <!-- <button (click)="CreateFields.reset()">Reset</button> -->
                      </div>
                    </div>
                  </div>
                  <div class="container">
                    
                  <div class="row row-setting">
                    <div class="col-sm-12 command-list " >
                      <table>
                        <tr>
                        <th class="lable-title command-list-item dist"><b> Field Name</b></th>
                        <th class="lable-title command-list-item dist"><b>Field Type</b></th>
                        </tr>
                        <tr *ngFor="let field of fields">
                        <td class="lable-title command-list-item dist">{{field.field_name}} </td>
                        <td class="lable-title command-list-item dist">{{field.field_type}}<br></td>
                      </tr>
                      </table>
                    </div> 
                    </div>
                </div>     
        </form>
</div>
</div>

</ion-content>
<!-- <ion-footer class="footer">
    
</ion-footer> -->
