<ion-header>
  <ion-toolbar>
    <ion-title>test</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <form [formGroup]="myFormGroup" (ngSubmit)="onSubmit()">
        <div *ngFor="let form_elem of formTemplate">
        <div [ngSwitch]="form_elem.type">
          <div *ngSwitchCase="'textBox'">
            <input type="text" formControlName="{{form_elem.label}}"/>
          </div>
          <div *ngSwitchCase="'number'">
            <input type="number" formControlName="{{form_elem.label}}"/>
          </div>
          <div *ngSwitchCase="'date'">
            <input type="date" formControlName="{{form_elem.label}}"/>
          </div>
          <div *ngSwitchCase="'select'">
            <select formControlName="{{form_elem.label}}">
              <option *ngFor="let opt of form_elem.options">
                {{opt}}
              </option>
            </select>
          </div>
        </div>  
        </div>
        <input type="submit" value="save"/>
      </form>
</ion-content>
