.swiper-slide {
    text-align: left !important;
}
.swiper-zoom-container {
    text-align: left !important;
}  

.tab input.invalid {
    background-color: #ffdddd;
    border: solid 1px #ff0000 !important;
}

.tab select.invalid{
    background-color: #ffdddd;
    border: solid 1px #ff0000 !important;
}
.container{
    margin-top: 20px;
    margin-bottom: 20px;
    padding-right: 15px;
    padding-left: 15px;
    
  }
//   ion-button{
//     --background:white !important;
//     opacity: 0.1;
// }
ion-icon{
    font-size: 20px;
}
.btn{
    float: right;
    margin-top: 7px;
}

.btn_prev{
    background: none;
    float: left;
    margin-top: 12px;
}


.wrapper {
    text-align: center;
}