<ion-header [translucent]="true">
   <ion-toolbar class="toolbar">
      <!-- <ion-title>Daily Update</ion-title> -->
      <!-- <ion-buttons slot="start">
         <button (click)="back()" style="background-color:#1DA1F2">
            <ion-icon class="back" style="color: #fff" name="arrow-back"></ion-icon> 
         </button>     
       </ion-buttons> -->
       <h4 class="control-label " *ngFor="let templateDataa of templateData">{{templateDataa.bst_name}}</h4>
   </ion-toolbar>
</ion-header>
<ion-content>

   <div class="">
         <ion-slides #mySlider class="swiper-no-swiping">
            <ion-slide class="tag " *ngFor="let topicDataa of topicData">
                <form class="form-horozontal " [formGroup]="FillReport" id="dailyUpdate_{{topicDataa.guid}}">
                  <input type="hidden" [value]="template_id" name="template_id">
                  <input type="hidden" [value]="len" name="topic_length" id="len">
                  <input type="hidden" [value]="token" name="token" >
                  <input type="hidden" class="dailyUpdateId" value="0" id="dailyUpdateId_{{
                     topicDataa.guid}}" name="daily_update_id" >
               <div class="container tab containwidth bsr_fillReport_containerTab" id="tab_{{topicDataa.guid}}">
                 
                     <p class="bsr_fillreport_topicnm" >{{topicDataa.topic_name}}</p>
                     <div *ngFor="let field of topicDataa.fields">
                        <input type="hidden" [value]="field.guid" name="guid[{{field.guid}}]">
                        <input type="hidden" [value]="field.field_type_guid" name="type[{{field.guid}}]">
                        <input type="hidden" [value]="topicDataa.topic_guid" name="topic[{{field.guid}}]">
                        <input type="hidden" [value]="2" name="bsrt_id">
                        <div class="form-group" *ngIf="field.field_type_guid==1">
                           <ion-label class="control-label ">{{field.field_name}}</ion-label>
                           <div class="col-sm-12 inputsm">
                              <select formControlName="answer" name="answer[{{field.guid}}]" class="form-control input type" data-field-guid="1" okText="Okay" cancelText="Dismiss" (change)="removeClass();showOther($event,field.guid)" data-field-required="yes">
                                 <option value="">Select Option</option>
                                 <option *ngFor="let list of field.options" [value]="list.valueoption" selected>
                                    {{list.valueoption}}
                                 </option>
                                 <option *ngIf="field.field_type_guid==1" value="Other">Other</option>
                              </select>
                           </div>
                        </div>

                         <div class="form-group otherBoxes" *ngIf="field.field_type_guid==1" id="showBox_{{field.guid}}" style="display: none;">
                           <ion-label>Other</ion-label>
                           <input formControlName="answer" id="otheInput_{{field.guid}}" type="text" class="form-control input otherBoxesInput" name="answer[{{field.guid}}]" data-field-type="other" data-field-guid="1" data-field-required="no">
                        </div>

                        <div class="form-group" *ngIf="field.field_type_guid==2">
                           <ion-label>{{field.field_name}}</ion-label>
                           <input formControlName="answer"  type="text" class="form-control input" name="answer[{{field.guid}}]" data-field-guid="2"
                              aria-describedby="helpId" data-field-required="yes">
                        </div>
                        <div class="form-group" *ngIf="field.field_type_guid==3">
                           <ion-label>{{field.field_name}}</ion-label>
                           <input formControlName="answer" type="date" class="form-control input" name="answer[{{field.guid}}]" data-field-required="yes" data-field-guid="3">
                        </div>
                        <div class="form-group " *ngIf="field.field_type_guid== 4 ">
                           <!-- date range  -->
                           <ion-label>{{field.field_name}}</ion-label>
                           <div class="row"></div>
                           <ion-label>Start date</ion-label>

                           <input type="date" formControlName="answer"  id="range" class="form-control input" name="Date[{{field.guid}}][]" data-field-required="yes">
                           <ion-label>End date</ion-label>
                           <input  type="date" formControlName="answer"  id="range" class="form-control input" name="Date[{{field.guid}}][]" data-field-required="yes">
                           <input type="hidden" class="form-control" name="answer[{{field.guid}}]" id="" aria-describedby="helpId" data-field-guid="4" placeholder="" value="4" data-field-required="yes">

                        </div>
                        <div class="form-group" *ngIf="field.field_type_guid==5">
                           <ion-label>{{field.field_name}}</ion-label>
                           <input formControlName="answer" type="number" class="form-control input" name="answer[{{field.guid}}]" data-field-required="yes">
                        </div>
                     </div>
                     <!--  -->
                     <button class="btn_prev" *ngIf="totalCount != len " (click)="prev()"><ion-icon name="arrow-undo"></ion-icon></button>
                     <div class="wrapper">
                     <ion-button id="{{topicDataa.guid}}" class="save text-center bsr_fillReport_savebtn temp{{len}}" (click)="savemore(topicDataa.guid)">Save & Add More</ion-button>
                     <ion-button *ngIf="len == 1" id="{{topicDataa.guid}}" class="bsr_fillReport_savebtn temp{{len}}" (click)="finish(topicDataa.guid)" >Finish</ion-button>
                     <button id="{{topicDataa.guid}}" class="bsr_fillReport_savebtn btn temp{{len}}" (click)="next(topicDataa.guid)" *ngIf="len > 1"><ion-icon name="arrow-redo"></ion-icon> 
                     </button>   
                  </div>

                        
               </div>
               
            </form>
            </ion-slide>

         </ion-slides>
     
   </div>
</ion-content>