<ion-header>
  <ion-toolbar>
    <ion-buttons  slot="start">
      <button (click)="back()" class="bsr_forgot_backbtn_background">
        <ion-icon class="bsr_addtmp_backicon back"name="arrow-back"></ion-icon> 
     </button>
    </ion-buttons>
    <ion-title>forgot Password</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content  class="background" [fullscreen]="true">

  <div >
    <img class="logoimg" src="assets/images/icon.png" alt="image"/>
  </div>
  <div class="bsr_forgotpwd_col col-md-6 container">
    <div class="form ">
        <form action="" class="form-horozontal" [formGroup]="forgotPwd" (ngSubmit)="onSubmit()">
        
          <div class="form-group">
            <ion-input  formControlName="email" placeholder="Enter email" [ngClass]="{ 'is-invalid': submitted && b6.email.errors }" type="text" class="form-control" ></ion-input>
              <div *ngIf="submitted && b6.email.errors" class="invalid-feedback">
              <div *ngIf="b6.email.errors.required">Email required</div>
              <div *ngIf="b6.email.errors.email">Email must be a valid email address</div>
            </div>
          </div>
          <button type="submit"  class="bsr_forgotPwd_btn btn-lg btn-block">Submit</button>
        </form>
  </div>
  </div>
</ion-content>
