/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";



ion-title{
    --color: #ffffff;
    text-transform: uppercase;
    text-align: center;
    font: normal normal bold 14px/14px Arial;
}
.bsr-titleCenter{
  margin-right: 10%;
}
ion-label{
    color: #3B5998;
    text-align: left;
    font: normal normal normal 12px/14px Arial;
    letter-spacing: 0px;
    opacity: 1;
 } 

 .toolbar{
  --background:#1DA1F2;
  color:#fff !important;
  text-align: center;
  .topnav {
      background-color: #1DA1F2;;
      overflow: hidden;
  }

}

.container{
  margin-top: 20px;
  margin-bottom: 20px;
  padding-right: 15px;
  padding-left: 15px;
}
.save{
  margin-left: 14%;
  width: 45%;
}
    
     .btn-default{ 
     --color:#ffffff;
     width: 100%;
     height: 40px;
     background-color: #2699FB !important;
     border-radius: 4px;
    opacity: 1;
    text-align: center;
    font: normal normal bold 14px/18px Arial;
    letter-spacing: 0px;
    color: #FFFFFF;
    text-transform: uppercase;
    opacity: 1;
 }
  //add-template

  .bsr_addtmp_backicon{
    color: #fff
  }
  .bsr_backbtn_background{
    background-color:#1DA1F2;
  }
//login history
.bsr-loginhistory_morebtn{
  color: red;
}
.bsr_report_btn{
  font-size: 12px!important;
}

//bragsheet-report1
.bsr_report_download{
  font-size:12px;
  color:skyblue;
}

//bragshit_report
.bsr_bragReport_btn{
  margin-left: 14%;
}

//create_field
.bsr_crtField_rmvBtn{
  color: red;
}
.bsr_crtField_addBtn{
  color: blue;
}
.bsr_addRmv_btn{
  text-align: right;
  float: left;
}
.bsr_addRmv_btn1{
  text-align: left;
}
.bsr_createField_saveandmoreBtn{
  width: 58%;
}
.bsr_createField_saveBtn{
  position: absolute;
  margin-left: 6%;
   width: 36%;
}

//create topic
.bsr-crtTopic_radio{
  margin-top: 20px;
}

//dashboard
.bsr-dash-title{
  text-align: center; 
  font-size: 15px;
}
.bsr_dash_divpadding{
  padding: 1px;
}
.bsr_dash_icon{
  text-align:center;
}
//fill report
.bsr_fillreport_topicnm{
  font-weight: bold;
  text-align: center;
}

//login
.bsr_login_footer{
  background: #fff;
   text-align: center;
   text-transform: uppercase;
   font-weight:bold;
  color: #002668;
  height: 9%; 
  padding-top: 2%;
}

//registraion
.bsr_registration_acc{
  text-align: center;
   color: #fff;
   font-size: 12px;
    margin-top: 2%;
}
 //modal popup
 input.largeCheckbox{
  height: 17px;
  width: 17px;
 
   
}
.bsr_modalpopup_title{
  text-align: center;
}
.float_left
{
  float: left;
}
.topicModal
{
padding-left:15px;
  // float: center;
}
input.selectCheckbox{
  height: 19px;
  width: 17px;
 
}
 //user profile
 .btn-defaultt{ 
  --color:#ffffff;
  width: 45%;
  margin-left: 27%;
  height: 40px;
  background-color: #2699FB !important;
  border-radius: 4px;
 opacity: 1;
 text-align: center;
 font: normal normal bold 14px/18px Arial;
 letter-spacing: 0px;
 color: #FFFFFF;
 text-transform: uppercase;
 opacity: 1;
}
.logoimg{
  // max-width: 48%;
   margin-left: 43%;
  // margin-top: 5%;
max-width: 200px;
}
 //
 .form-check-input{
    /* width: 200px;
    height: 40px; */
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid #BCE0FD;
    border-radius: 15px;
    opacity: 1;
 }
 .form-check-label{
     font-size: 18px;
 }

 
//registration
.form-control{
    border: none !important;
}

.form-group {
    margin-bottom: 1%;
}
.input{
  background: #BCE0FD 0% 0% no-repeat padding-box;
  opacity: 1;
  border-radius: 0px;
  color:#3B5998;
  margin-bottom: 3%;
}
.inputsm{
  padding-left: 0px !important;
  padding-right: 0px !important;
}
.footer{
  background-color:#1DA1F2;
  height: 8%;
  color:#1DA1F2;

}
//select template
.bsr-select-topic-div{
  padding-top: 2%;
  padding-bottom: 2%;
  border-style: solid;
  border-color: #BCE0FD;
  background: #BCE0FD;
  margin-top: 2%;
}
.bsr_selectTemp_crtTemp{
  color: #fff !important;
}

//select topic
.bsr_selectTopic_selectOp{
  pointer-events: none
}
.bsr_selectTopic_selectedTopic{
  max-height: 222px;
  overflow-y: auto;
}
.bsr_selectTopic_link{
  color:#002668 ;
  font: normal normal normal 12px/22px Arial;
  text-align: center;
}
.bsr_selectTopic_footer{
  color: #fff !important; 
}
.bsr_forgot_backbtn_background{
  background-color: #002668;
}
//profile
.bsr_profile_btn{
  font-size: 10px;
}
//leave
.display{
    padding-right: 0px !important;
    padding-left: 0px !important;
}

.row-setting{
    margin-top: 40px;
    
  }
  .command-list{
    background-color: #bce0fd;
    margin-bottom: 10px;
  }
  .command-list-item{
    padding: 10px;
    margin-bottom: -5px;
    text-align: left;
    font: normal normal normal 14px/16px Arial;
    letter-spacing: 0px;
    color: #3B5998;
    opacity: 1;
  }

  .back{
    font-size: 25px !important;
  }
  //bragsheer
  .btn-brag{
    font-size: 13px;
    line-height: 12px;
    color: #ffffff;
    font-weight: bold;
    font-family: "Arial";
    text-align: center;
    height: 40px;
    border-radius: 5px;
    background: #002668 0% 0% no-repeat padding-box;
    opacity: 1;
    margin-bottom: 7%;
}
//modalpopup
.buttontransp{
  background-color: Transparent;
  margin-right: 6%;
}
.btn-list{
  margin-top: 8%;
}
.list{
  padding-left: 30px;
  padding-right: 30px;
}
//selectTopic
.footerdf{
  background: #002668 ;
   color: #ffffff !important;
   text-align: center;
   height: 8%;
}
.footercenter{
margin-top: 10px;
}
//view profile
.display{
  padding-right: 0px !important;
  padding-left: 0px !important;
}

.row-setting{
  margin-top: 40px;
  
}
.command-lists{
  background-color: #cbe3f7;
  margin-bottom: 3px;
}
.command-list-item{
  padding: 10px;
  margin-bottom: -5px;
  text-align: left;
  font: normal normal normal 14px/16px Arial;
  letter-spacing: 0px;
  color: #3B5998;
  opacity: 1;
}

//profile
.avatar-container {
  border: 1px solid #d7d7d7;
}
.avatar-container.rounded .avatar {
  height: 100%;
  width: 100%;
}
.avatar-container .avatar {
  height: 200px;
  width: auto;
}
.pos-relative {
  position: relative;
}
 //dashboard
 .dashboard{
  background: #BCE0FD;
}

//select-template
.btn-default1{
  --color:#ffffff;
     width: 289px;
     height: 40px;
     background-color: #2699FB !important;
     border-radius: 4px;
    opacity: 1;
    text-align: center;
    font: normal normal bold 14px/18px Arial;
    letter-spacing: 0px;
    color: #FFFFFF;
    text-transform: uppercase;
    opacity: 1;

}

.form-check-label1{
  text-align: left;
font: normal normal normal 14px/16px Arial;
letter-spacing: 0px;
color: #3B5998;
opacity: 1;

}
//fill-report
.containwidth{
  width:359px;
}
.btn-next{
  width: 18vw;
  height: 18vw;
  border-radius: 50%;
  border: none;
  float: right;
}
.btn-prev{

  width: 18vw;
  height: 18vw;
  border-radius: 50%;
  border: none;
  float: left;
}
.bsr_CreateTopic_radio{
  margin-top: 4px;
}
.finish{
  width: 15vw;
  height: 15vw;
  border-radius: 50%;
  border: none;
  font-size: 79%;
  float: right;
  font-weight: bold;
}
.bsr_fillReport_savebtn{
  font-size: 10px !important;
}
//report summary
.btn-defaulttt{ 
  --color:#ffffff;
  width: 45%;
  margin-left: 27%;
  height: 30px;
  background-color: #2699FB !important;
  border-radius: 4px;
 opacity: 1;
 text-align: center;
 font: normal normal bold 14px/18px Arial;
 letter-spacing: 0px;
 color: #FFFFFF;
 text-transform: uppercase;
 opacity: 1;
}
@media only screen and (min-width: 320px) and (max-width: 374px) {
  
.container{
  margin-top: 20px;
  margin-bottom: 20px;
  padding-right: 10px !important;
  padding-left: 10px !important;
}
.bsr_dash_cardTitle{
  font-size: 12px;
  text-align: center !important;
}
.bsr_fillReport_containerTab{
  padding-right: 41px !important;
  padding-left: 41px !important;
}

.logoimg{
  margin-left: 19%;
 }
 .save {
  margin-left: 4%; 
    
}

}
@media only screen and (min-width: 375px) and (max-width: 424px) {
  .save {
    margin-left: 4%; 
    
}
.logoimg {
  margin-left: 23%;
}
}
@media only screen and (min-width: 425px)and (max-width: 650px) {
  .logoimg {
    margin-left: 27%;
}
  .save {
    margin-left: 4%; 
    
}
.bsr_dash_cardTitle{
  font-size: 12px;
  text-align: center !important;
}
 
// .more{
//   width: 50px;
//   height: 30px;
//   position: relative;
//   left: 296px;
// }
}

//ipad
@media only screen and (min-width: 768px) {
   //create-field
   .logoimg{
     margin-left: 37%;
    }
  
   .dist{
    width: 20%;
    text-align: center;
  }

  //select-topic
  .footercenter {
    margin-top: 30px;
}
  .display {
   max-height: 575px !important;
}
//fill-report
.containwidth{
  width:689px;
}
.btn-next{
  width: 6vw;
  height: 6vw;
  border-radius: 50%;
  border: none;
  float: right;
}
.btn-prev{

  width: 6vw;
  height: 6vw;
  border-radius: 50%;
  border: none;
  float: left;
}
.save {
    margin-left: 1%;
  // width: 37%;
  // margin-right: 14%;
}
 
//bragsheet-report-new
.btn-save1{
  width: 12vw;
  height: 12vw;
  border-radius: 50%;
  border: none;
  float: right;
}
.bsr_dash_cardTitle{
  font-size: 14px;
  text-align: center !important;
}
}
@media only screen and (max-width: 992px) {
  .bsr_dash_cardTitle{
    font-size: 16px;
    text-align: center !important;
  }
    .button-submit{
        height: 40px;
        margin-top: 10px;
        color: #ffffff;
        border-radius: 4px;
        background-color: #2699fb;
        text-transform: uppercase;
        font: normal normal bold 10px/12px Arial;
      }
      .avatar-container.rounded {
        width: 60px;
        height: 60px;
        overflow: hidden;
        border-radius: 50% !important;
        -webkit-border-radius: 50% !important;
        -moz-border-radius: 50% !important;
        -ms-border-radius: 50% !important;
        -o-border-radius: 50% !important;
         
    }
    .btn-profile{
      --color:#ffffff;
      width: 100%;
      height: 40px;
      background-color: #ffffff !important;
      border-radius: 4px;
     opacity: 1;
     text-align: center;
     font: normal normal bold 14px/18px Arial;
     letter-spacing: 0px;
     color: black;
     text-transform: uppercase;
     opacity: 1;
   box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.2), 0 1px 10px 0 rgba(0, 0, 0, 0.11);
   margin-top: 2%;
  }
   
 .bsr_forgotpwd_col{
        margin-top: 6%;
        background: white;
        color: black;
        padding: 10px;
        padding-top: 30px;
        width: 292px;
        height: 145px;
        border-radius: 30px;
    
    } 

}


@media only screen and (min-width: 993px) {
  .logoimg {
    margin-left: 40%;
}
  .bsr_dash_cardTitle{
    font-size: 16px;
    text-align: center !important;
  }
    .button-submit{
        height: 48px;
        margin-top: 10px;
        color: #ffffff;
        border-radius: 4px;
        background-color: #2699fb;
        text-transform: uppercase;
        font: normal normal bold 10px/12px Arial;
      }
    .btn-sm{
      margin-left: 42%;
      }

      .avatar-container.rounded {
        width: 230px;
        height: 230px;
        overflow: hidden;
        border-radius: 50% !important;
        -webkit-border-radius: 50% !important;
        -moz-border-radius: 50% !important;
        -ms-border-radius: 50% !important;
        -o-border-radius: 50% !important;
        margin-top:2%;
    }

    .btn-profile{
      --color:#ffffff;
      width: 1125px;;
      height: 40px;
      background-color: #ffffff !important;
      border-radius: 4px;
     opacity: 1;
     text-align: center;
     font: normal normal bold 14px/18px Arial;
     letter-spacing: 0px;
     color: black;
     text-transform: uppercase;
     opacity: 1;
   box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.2), 0 1px 10px 0 rgba(0, 0, 0, 0.11);
  }
  
}

@media only screen and(min-width: 1400px){
  .logoimg {
    margin-left: 43%;
}
}
@media only screen and (max-width: 320px) {
  .bsr_fillReport_savebtn{
    font-size: 9px !important;
  }
}


@media only screen and (max-width: 1024px) {
   
}
 
@media only screen and (max-width: 992px) {

}

@media only screen and (max-width: 768px) {
  
}

@media only screen and (max-width: 425px) {
  
}

@media only screen and (max-width: 375px) {
  
}

@media only screen and (max-width: 320px) {
 
}







