<ion-header [translucent]="true">
  <ion-toolbar class="toolbar">
 <ion-title >Leave</ion-title>
      <ion-buttons slot="start">
          <ion-menu-button menu="main-menu"></ion-menu-button>
      </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  
  <div class="container ">
      <div class="form ">
          <form action="" class="form-horozontal" [formGroup]="Leave" (ngSubmit)="onSubmit()">
              <div class="form-group  ">
                  <ion-label >Leave Reason</ion-label>
                  <input formControlName="reason"  [ngClass]="{ 'is-invalid': submitted && f4.reason.errors }" 
                  type="text" class="form-control input" name="" id="" aria-describedby="helpId" >
                  <div *ngIf="submitted && f4.reason.errors" class="invalid-feedback">
                    <div *ngIf="f4.reason.errors.required"> Leave Reason is required</div>
                </div>
                </div>
                <div class="form-group ">
                  <ion-label >Start Date</ion-label>         
                  <input type="date" [min]="startDate" id="startDate" required [ngClass]="{ 'is-invalid': submitted && f4.startDate.errors }"
                   formControlName="startDate" class="form-control input" id="date" name="date">
                    <div *ngIf="submitted && f4.startDate.errors" class="invalid-feedback">
                    <div *ngIf="f4.startDate.errors.required">Start Date is required</div>
                  </div>
                  </div>
                  <div class="form-group ">
                    <ion-label >End Date</ion-label>         
                    <input type="date"  id="endDate" required [ngClass]="{ 'is-invalid': submitted && f4.endDate.errors }"
                     formControlName="endDate" class="form-control input" id="date" name="date">          
                      <div *ngIf="submitted && f4.endDate.errors" class="invalid-feedback">
                      <div *ngIf="f4.endDate.errors.required">End Date is required</div>
                    </div>
                    </div>
                    
                    <div class="col-md-6 display">
                      <input style="width: 58%;" (click)="onSubmit()"  type="button" class="btn btn-sm button-submit" name="Save" value="Save & Add More" />  
                      <input  type="button" (click)="onSubmit()"  class="btn button-submit" style="position: absolute;margin-left: 6%; width: 36%;" name="Save" value="Save" />  
                    </div>
                  
                    <div class="col-md-6 display">
                      
                    </div>
                 
                    <div class="row row-setting" *ngFor = 'let a of data'>
      
                      <div class="col-md-12 command-list">
                        <label class="lable-title command-list-item"> Reason :{{a.reason}}</label>
                        <br>
                        <label class="lable-title command-list-item"> Start Date :{{a.startDate}}</label>
                        <br>
                        <label class="lable-title command-list-item">  End Date :  {{a.endDate}}</label>
                      </div>
              
                      <!-- <div class="col-md-12 command-list">
                        <label class="lable-title command-list-item">  </label>
                        <br/>
                        <label class="lable-title command-list-item"> 09/09/2020</label>
                      </div> -->
                  </div> 
                  <!-- <table >
                    <tr *ngFor = 'let a of data'>
                      <td>
                        {{a.reason}}
                      </td>
                      <td>
                        {{a.startDate}}
                      </td>
                      <td>
                        {{a.endDate}}
                      </td>
                    </tr>
                  </table> -->
               
          </form>
  </div>
</div>

 
 </ion-content>
 <ion-footer class="footer">
    
</ion-footer>
