<ion-header [translucent]="true">
  <ion-toolbar class="toolbar">
 <ion-title class="bsr-titleCenter" >Dashboard</ion-title>
 <ion-buttons slot="start">
  <ion-menu-button menu="main-menu"></ion-menu-button>
</ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <h3 class="bsr-dash-title" >Hello&nbsp;<b>{{Username}}</b></h3>

  <div class="container">
    <div class="row">

      <div class="bsr_dash_divpadding col-md-4 col-6 ">
        <a [routerLink]="['/daily-update']">
          <div class="card" >  
            <div class="card-body">
              <div class="avatar-container pos-relative mb-4 rounded ml-auto mr-auto dashboard">
              <ion-icon class="bsr_dash_icon iconsvg" name="document"></ion-icon>
              </div>
                <div class="bsr_dash_cardTitle" > Daily Update</div>
  
            </div>
          </div>
          </a>
        </div>
        <div class="bsr_dash_divpadding col-md-4 col-6 ">
          <a [routerLink]="['/bragsheet-report1']">
            <div class="card" >  
              <div class="card-body">
                <div class="avatar-container pos-relative mb-4 rounded ml-auto mr-auto dashboard">
                <ion-icon class="bsr_dash_icon iconsvg" name="copy"></ion-icon> 
                </div>
                  <div class="bsr_dash_cardTitle" > Braggsheet Report</div>
    
              </div>
            </div>
          </a>
          </div>
      <div  class="bsr_dash_divpadding col-md-4 col-6 ">
      <a [routerLink]="['/user-profile']"> 
        <div class="card" >  
          <div class="card-body">
            <div class="avatar-container pos-relative mb-4 rounded ml-auto mr-auto dashboard">
                <ion-icon class="bsr_dash_icon iconsvg" name="person" ></ion-icon>
            </div>
              <div class="bsr_dash_cardTitle" > Profile</div>
            </div>
        </div>
        </a>
      </div>    
    
      <div class="bsr_dash_divpadding col-md-4 col-6 ">
      <a [routerLink]="['/add-topic']">
        <div class="card" >  
          <div class="card-body">
            <div class="avatar-container pos-relative mb-4 rounded ml-auto mr-auto dashboard">
            <ion-icon class="bsr_dash_icon iconsvg" name="refresh"></ion-icon> 
            </div>
              <div class="bsr_dash_cardTitle" > Histories </div>

          </div>
        </div>
      </a>
      </div>
    

      <!-- <div class="bsr_dash_divpadding col-md-4 col-6 ">
        <a [routerLink]="['/yashaa-membership-plans']">
          <div class="card" >  
            <div class="card-body">
              <div class="avatar-container pos-relative mb-4 rounded ml-auto mr-auto dashboard">
                <ion-icon class="bsr_dash_icon iconsvg" name="document"></ion-icon>
              </div>
                <div class="bsr_dash_cardTitle" > Membership plans</div>
            </div>
          </div>
        </a>
      </div> -->

      <!-- <div class="bsr_dash_divpadding col-md-4 col-6 ">
        <a [routerLink]="['/']">
        <div class="card" >  
          <div class="card-body">
            <div class="avatar-container pos-relative mb-4 rounded ml-auto mr-auto dashboard">
            <ion-icon class="bsr_dash_icon iconsvg" name="settings"></ion-icon>
            </div>
              <div class="bsr_dash_cardTitle" >Resources</div>
  
          </div>
        </div>
        </a>
      </div> -->
      </div>
  </div>
</ion-content>
