
ion-icon{
    height: 79%;
    width: 56%;
    position: absolute;
    margin: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}
.iconsvg{
    height: 39% !important;
    width: 50% !important;
    padding-left: 3px !important;
}
.card-body{
    padding:5%;
}
.mb-4{
    margin-bottom: 20 !important;
}
.card
{
    border: none !important;
}