<ion-header>
  <ion-toolbar class="toolbar">
    <ion-title>Past Command</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="container ">
    <div class="form ">
        <form action="" class="form-horozontal" [formGroup]="pastCommand" (ngSubmit)="onSubmit()">
            <div class="form-group  ">
                <ion-label >Command Name</ion-label>
                <input formControlName="reason"  [ngClass]="{ 'is-invalid': submitted && b2.reason.errors }" 
                type="text" class="form-control input" name="" id="" aria-describedby="helpId">
                <div *ngIf="submitted && b2.reason.errors" class="invalid-feedback">
                  <div *ngIf="b2.reason.errors.required"> Command Name is required</div>
              </div>
              </div>
              <div class="form-group ">
                <ion-label >Start Date</ion-label>         
                <input type="date" [min]="startDate" id="startDate" [ngClass]="{ 'is-invalid': submitted && b2.startDate.errors }"
                 formControlName="startDate" class="form-control input" id="date" name="date">
                  <div *ngIf="submitted && b2.startDate.errors" class="invalid-feedback">
                  <div *ngIf="b2.startDate.errors.required">Start Date is required</div>
                </div>
                </div>
                <div class="form-group ">
                  <ion-label >End Date</ion-label>         
                  <input type="date"  id="endDate" [ngClass]="{ 'is-invalid': submitted && b2.endDate.errors }"
                   formControlName="endDate" class="form-control input" id="date" name="date">          
                    <div *ngIf="submitted && b2.endDate.errors" class="invalid-feedback">
                    <div *ngIf="b2.endDate.errors.required">End Date is required</div>
                  </div>
                  </div>
                  
                  <div class="col-md-6 display">
                    <input style="width: 58%;" (click)="onSubmit()"  type="button" class="btn btn-sm button-submit" name="Save" value="Save & Add More" />  
                    <input  type="button" (click)="onSubmit()"  class="btn button-submit" style="position: absolute;margin-left: 6%; width: 36%;" name="Save" value="Save" />  
                  </div>
                
                  <div class="col-md-6 display">
                    
                  </div>
               
                  <div class="row row-setting">
    
                    <div class="col-md-12 command-list">
                      <label class="lable-title command-list-item"> Command Name</label>
                      <br/>
                      <label class="lable-title command-list-item"> 09/09/2020</label>
                    </div>
            
                    <div class="col-md-12 command-list">
                      <label class="lable-title command-list-item"> Command Name</label>
                      <br/>
                      <label class="lable-title command-list-item"> 09/09/2020</label>
                    </div>
                </div>     
        </form>
</div>
</div>

</ion-content>
<ion-footer class="footer">
    
</ion-footer>