 
    ion-button{
        --background:white !important;
        opacity: 0.1;
    }

    .container {
        margin-top: 20px;
        margin-bottom: 20px;
        padding-right: 45px;
        padding-left: 45px;
    }
    
     



 
 
 

 